﻿@using BusinessLayer.Entities
@using BusinessLayer.Infrastructure
@using DataLayer
@model GenericMoneyTurnoverEntity
@{ Layout = null; }
<div id="AddEditBase">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "AddEditBase",
        LoadingElementId = "Loader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {   
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ResourcePackId)
                <div class="editor-label">
                    @Html.LabelFor(model => model.DateAndTime)
                </div>
                <div class="editor-field">
                    @Html.TextBox(
                    CommonHelper.nameof(() => Model.DateAndTime),
                    Model.DateAndTime.ToString(DataLayer.Constants.DisplayDateFormat),
                    new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.DateAndTime)
                </div>
                @if (Model is SpendingRequestEntity)
                {
                    <div class="editor-label">
                        @Html.LabelFor(model => (model as SpendingRequestEntity).Place)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => (model as SpendingRequestEntity).Place, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => (model as SpendingRequestEntity).Place)
                    </div>
                }
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Summ)
                </div>
                <div class="editor-field">
                    @Html.TextBox(
                    CommonHelper.nameof(() => Model.Summ),
                    Model.Summ.ToString(new System.Globalization.CultureInfo(Constants.DateTimePickerCulture)),
                    new { @class = "z-index-zero" })
                    @Html.ValidationMessageFor(model => model.Summ)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ResourceId)
                </div>
                <div class="editor-field">
                    <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourceId)">
                        @foreach (var item in Model.Resources)
                        { 
                            <option value="@item.Id" @if (Model.ResourceId == item.Id)
                                                     {@Html.Raw("selected=\"selected\"")}>@item.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ResourceId)
                </div>
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@ViewBag.AcceptBtnName</button>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    fixJQueryValidator();
    $("#Summ").TouchSpin({
        decimals: 2,
        min: 0.00,
        max: 1000000.00,
        boostat: 5,
        step: 0.01,
        maxboostedstep: 25
    });

    $('#AddEditBase form').submit(function () {
        if ($('#AddEditBase form').valid()) {
            fixFloatingDot("#Summ");
            $('#AddEditBase form').validate().cancelSubmit = true;
        }
    });
</script>
