﻿@using BusinessLayer.Entities
@using DataLayer
@using AFinances.PresentationLayer.Resources.Views
@model IEnumerable<ResourcePackEntity>
@{
    ViewBag.Title = Titles.ViewBudget;
}
<div id="ViewBudgetForm">
    @Html.Partial("Index_Chart")
    @Html.Partial("Index_CurrentBudget", new BudgetResourcePackEntity[0])
    <br />
    @Html.Partial("Index_BudgetHistory")
</div>

<script type="text/basis-template" id="budget-row">
<tr>
    <td> <a href="{url}">{date}</a> </td>
    <td> {balance} </td>
    <td> <span class="text-danger"> {creditSum} </span> </td>
    <td> {total} </td>
    <td> <table class="credits"> {credits} </table> </td>
</tr>
</script>

<script type="text/basis-template" id="credit-row">
<tr class="panel panel-default">
    <td class="credit-name-col"> <a class="modal-redirect" url="@Url.Action("ViewCredit","Credit")/{id}" href="@Constants.FakeLinkUrl"> {name} </a> </td>
    <td> {from} - {to} </td>
    <td> <span class="text-danger"> {summ} </span> </td>
</tr>
</script>

<script>
    var firstSelectedResourcePack = getCurrentResourcePackId() || @(Model.Any() ? (long?)Model.First().Id : null);
    $("#CurrentBudgetForm").submit();
    var viewBudgetFunctions = new ViewBudget(
    "@DataLayer.Constants.MomentDateFormat",
    firstSelectedResourcePack,
    "@DataLayer.Constants.MomentServerDateFormat",
    "@Common.Time",
    "@Common.Budget",
    "@Common.Month",
    "@Common.Rubles",
    '@Common.ShowAll',
    '@Common.HideAll');

    viewBudgetFunctions.DropdownsSelectResourcePack(firstSelectedResourcePack);
    $("#@Constants.ModalPanelId").on('hidden.bs.modal', function () {
        viewBudgetFunctions.UpdateResourcePackPanels();
        viewBudgetFunctions.UpdateChart();
        viewBudgetFunctions.UpdateList();
        $("#CurrentBudgetForm").submit();
    });

    $(document).ready(function () {
        viewBudgetFunctions.UpdateChart();
        viewBudgetFunctions.UpdateList();
        $(".outputmodebtns").children().click(function () { viewBudgetFunctions.SelectOutputMode(this); });
        $('#chartFilter').find('[name=okPanel]').click(function () { viewBudgetFunctions.LoadChartData(); });
        $('#listFilter').find('[name=okPanel]').click(function () { viewBudgetFunctions.LoadListData(); });
        $('#chartFilter').find('[name=prevPanel]').click(function () { viewBudgetFunctions.PrevNextChart(false); });
        $('#chartFilter').find('[name=nextPanel]').click(function () { viewBudgetFunctions.PrevNextChart(true); });
        $('#listFilter').find('[name=prevPanel]').click(function () { viewBudgetFunctions.PrevNextList(false); });
        $('#listFilter').find('[name=nextPanel]').click(function () { viewBudgetFunctions.PrevNextList(true); });
        $(".element-counter").TouchSpin({
            min: 2,
            max: 24,
            boostat: 5,
            maxboostedstep: 10
        });
    });
</script>
