﻿@using AFinances.PresentationLayer.Resources.Views.Budget
@using AFinances.PresentationLayer.Resources.Views
@model IEnumerable<BusinessLayer.Entities.ResourcePackEntity>
<table class="filter-panel">
    <tr>
        <td>
            <h4 align="center">@Index.OutputMode</h4>
            <div class="btn-group outputmodebtns" name="outputmodebtnsPanel">
                <button class="btn btn-primary" action="GetDailyBudgets">@Index.Daily</button>
                <button class="btn btn-default" action="GetMonthlyBudgets">@Index.Monthly</button>
            </div>
        </td>
        <td>
            <h4 align="center">@Common.ResourcePack</h4>
            <select class="form-control" name="resourcepackPanel">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </td>
        <td>
            <h4 align="center">@Index.ElementsCount</h4>
            <input name="elementCountPanel" class="element-counter" value="7"/>
        </td>
        <td>
            <h4 align="center">@Index.ToDate</h4>
            <input type='text' class="form-control datepicker" name='todatePanel' value='@DateTime.Today.ToString(DataLayer.Constants.DisplayDateFormat, System.Globalization.CultureInfo.InvariantCulture)'/>
        </td>
        <td>
            <h4 align="center">@Index.Action</h4>
            <div class="btn-group">
                <button class="btn btn-default" name="okPanel">@Common.OK</button>
                <button class="btn btn-default" name="prevPanel">&lt;</button>
                <button class="btn btn-default" name="nextPanel">&gt;</button>
            </div>
        </td>
    </tr>
</table>