﻿@using AFinances.PresentationLayer.Resources.Views.Budget
@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Entities
@using DataLayer
@model IEnumerable<BudgetResourcePackEntity>
<div id="CurrentBudgetBase">
    @using (Ajax.BeginForm(
        null,
        null,
        new AjaxOptions
        {
            UpdateTargetId = "CurrentBudgetBase",
            LoadingElementId = "CurrentBudgetLoader",
            Url = Url.Action("GetCurrentBudget"),
            OnSuccess = "viewBudgetFunctions.BindCurrentBudgetPanelEvents()"
        },
        new { id = "CurrentBudgetForm" }))
    {  
    <div class="base-form">
        <div class="base-form-heading">
            <h3>@Index.CurrentBudget</h3>
            <div id="CurrentBudgetLoader" class="loader loader-default inner-loader"></div>
            <div class="horizontal-autoscroll">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>@Common.ResourcePack</th>
                        <th>@Index.TotalAmount</th>
                        <th>@Index.CreditsAmount</th>
                        <th>@Index.FullAmount</th>
                        <th>@Index.Credits <button type="button" class="btn btn-default" id="ToggleAllCurrentCredits">@Common.ShowAll</button></th>
                    </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model ?? new BudgetResourcePackEntity[0])
                            {
                                <tr>
                                    <td><a href="@Url.Action("ViewResourcePack", "Resource", new { id = item.ResourcePackId })">@item.ResourcePackName</a></td>
                                    <td>@Math.Round(item.Balance, Constants.MoneyDecimalPlaces)@Common.Rubles</td>
                                    <td class="text-danger">@Math.Round(item.SummaryCredit, Constants.MoneyDecimalPlaces)@Common.Rubles</td>
                                    <td>@Math.Round((item.Balance - item.SummaryCredit), Constants.MoneyDecimalPlaces)@Common.Rubles</td>
                                    <td>
                                        @foreach (var credit in item.Credits)
                                        {
                                            <div class="panel panel-default current-credit-panel">
                                                <div class="panel-heading @(credit.IsPayed ? Html.Raw("payed-credit") : Html.Raw("not-payed-credit"))">
                                                    <h4 class='panel-title'>
                                                        <a class="modal-redirect" url="@Url.Action("ViewCredit", "Credit", new { id = credit.Id })" href="@Constants.FakeLinkUrl">@credit.Name</a>
                                                        <span class="italic-text">
                                                            <span class="append-colon">(@Index.State</span>
                                                            @(!credit.IsPayed ? Index.Opened : Index.Closed))
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="panel-body">
                                                    @credit.StartDate.ToShortDateString()-@credit.EndDate.ToShortDateString()
                                                </div>
                                                <div class='panel-footer'>@Math.Round(credit.Summ, Constants.MoneyDecimalPlaces)@Common.Rubles</div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
</div>
<script>
    initializeSpinner($("#CurrentBudgetLoader"));
</script>