﻿@using AFinances.PresentationLayer.Resources.Views.Budget
@model IEnumerable<BusinessLayer.Entities.ResourcePackEntity>
<div class="graph-tabs">
    <div id="negative-positive-container">
        <div class="base-form-heading">
            <h3>@Index.BudgetChart</h3>
        </div>
        <div id="chartFilter">@Html.Partial("Index_BudgetViewControlPanel")</div>
        <br/>
        <div id="chartLoader" class="loader loader-default is-active inner-loader"></div>
        <canvas id="negative-positive-graph" height="400" width="960"></canvas>
    </div>
</div>
