﻿@using AFinances.PresentationLayer.Resources.Views.Budget
@using AFinances.PresentationLayer.Resources.Views
@model IEnumerable<BusinessLayer.Entities.ResourcePackEntity>
<div class="base-form">
    <div class="base-form-heading">
        <h3>@Index.BudgetHistory</h3>
        <div id="listFilter">@Html.Partial("Index_BudgetViewControlPanel")</div>
        <div class="horizontal-autoscroll">
            <table class="table table-condensed" id='BudgetList'>
                <div id="listLoader" class="loader loader-default is-active inner-loader">
                <thead>
                    <tr>
                        <th>@Common.Date</th>
                        <th>@Index.TotalAmount</th>
                        <th>@Index.CreditsAmount</th>
                        <th>@Index.FullAmount</th>
                        <th>@Index.Credits</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
