﻿@using BusinessLayer.Entities
@using DataLayer
@using AFinances.PresentationLayer.Resources.Views
@model GenericMoneyTurnoverEntity
@{ Layout = null; }
<div id="Base">
    @using (Ajax.BeginForm(new AjaxOptions {
        UpdateTargetId = "Base",
        LoadingElementId = "Loader",
        OnBegin="modalPanelFunctions.toggleForm(true)",
        OnSuccess="modalPanelFunctions.toggleForm(false)" }))
    {  
        @Html.HiddenFor(x => x.Id)
        <div id="Loader" class="loader loader-default inner-loader">
        </div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <label class="append-colon">@Html.LabelFor(model => model.DateAndTime)</label>
                <a href="@Url.Action("ViewDateBudget", "Budget", new { resourcePackId = Model.Resource.ResourcePackId, date = Model.DateAndTime })">
                    @Model.DateAndTime.ToString(Constants.DisplayDateFormat)
                </a>
                <hr />
                <label class="append-colon">@Html.LabelFor(model => model.Description)</label>
                @Model.Description
                <hr />
                @if (Model is SpendingRequestEntity)
                {
                    <label class="append-colon">@Html.LabelFor(model => ((SpendingRequestEntity)model).Place)</label>
                    @(((SpendingRequestEntity)Model).Place)
                    <hr />
                }
                <label class="append-colon">@Html.LabelFor(model => model.Summ)</label>
                @Model.Summ@Common.Rubles
                <hr />
                <label class="append-colon">@Html.LabelFor(model => model.ResourceId)</label>
                @Model.Resource.Name
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" id="ChangeMoneyTurnover">
                            @Common.Edit
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" id="RemoveMoneyTurnover">
                            @Common.Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    $("#RemoveMoneyTurnover").click(function () { toggleDialog(true); });
    function confirmDialog() { removeMoneyTurnover(); }
</script>
