﻿@using BusinessLayer.Entities
@using DataLayer
@using AFinances.PresentationLayer.Resources.Views.Budget
@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources
@{
    ViewBag.Title = Titles.ViewMoneyTurnover;
    var ModalSelector = "#" + Constants.ModalPanelId;
}
@model IEnumerable<ResourcePackEntity>
<div class="base-form" id="ViewMoneyTurnoverForm">
    <div class="base-form-heading">
        <h3 class="append-colon">@ViewMoneyTurnover.ViewMoneyTurnoverOnPeriod</h3>
        <h3 id="PageTitle"></h3>
        @Html.Partial("ViewMoneyTurnover_ControlPanel")
        <div class="loader-container">
            <div id="TimelineLoader" class="loader loader-default inner-loader">
        </div>
        <div id="budgetTimeline"></div>
        <br/>
        <div class="row">
            <div class="col-xs-6"><button class="btn btn-default form-control" id="AddIncome">@ViewMoneyTurnover.AddIncome</button></div>
            <div class="col-xs-6"><button class="btn btn-default form-control" id="AddSpending">@ViewMoneyTurnover.AddSpending</button></div>
        </div>
    </div>
</div>
<script>
    var viewMoneyTurnoverFunctions = new ViewMoneyTurnover(
        '@Constants.MomentServerDateFormat',
        '@Constants.MomentDateFormat',
        '@Common.ShowAll',
        '@Common.HideAll',
        '@ModalSelector').initialize();
    $('[name=okPanel]').click(function () { viewMoneyTurnoverFunctions.setTimelineConfig(); });
    $('[name=prevPanel]').click(function () { viewMoneyTurnoverFunctions.prevTimeline(); });
    $('[name=nextPanel]').click(function () { viewMoneyTurnoverFunctions.nextTimeline(); });
    $(".element-counter").TouchSpin({
        min: 2,
        max: 24,
        boostat: 5,
        maxboostedstep: 10
    });

    $("@ModalSelector").on('hidden.bs.modal', function () {
        viewMoneyTurnoverFunctions.updateResourcePackPanel();
        viewMoneyTurnoverFunctions.reloadTimeline();
    })

    var timelineConfig = $.fn.albeTimeline;
    timelineConfig.languages['ru-RU'] =
			{
                shortMonths: [
                    '@ShortMonths.Jan',
                    '@ShortMonths.Feb',
                    '@ShortMonths.Mar',
                    '@ShortMonths.Apr',
                    '@ShortMonths.May',
                    '@ShortMonths.Jun',
                    '@ShortMonths.Jul',
                    '@ShortMonths.Aug',
                    '@ShortMonths.Sep',
                    '@ShortMonths.Oct',
                    '@ShortMonths.Nov',
                    '@ShortMonths.Dec']
            };

    //Сделано, чтобы заполнить массивы фейковыми данными
    timelineConfig.languages['ru-RU'].months = timelineConfig.languages['ru-RU'].shortMonths;
    timelineConfig.languages['ru-RU'].days = timelineConfig.languages['ru-RU'].shortMonths;
</script>
