﻿@using BusinessLayer.Entities
@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Budget
@using DataLayer
@model BudgetResourceEntity
@{
    ViewBag.Title = Titles.ViewBudget;
    const string ModalPanelSelector = "#" + Constants.ModalPanelId;
}

<div class="base-form" id="ViewDateBudgetForm">
    <div class="base-form-heading">
        <h3>
            <button class="btn btn-default next-prev-btn" id="PrevDate">&lt;</button>
            @ViewDateBudget.ViewBudgetOn <span id="DateText">@Model.Date.ToString(Constants.DisplayDateFormat)</span>
            <button class="btn btn-default next-prev-btn" id="NextDate">&gt;</button>
        </h3>
        <br/>
        <label class="append-colon">@Common.ResourcePack</label>@Model.ResourcePackName
        <br/>
        <label class="append-colon">@Common.Resource</label>
        <select class="form-control resource-dropdown" id="ResourceId"></select>
        <br/>
        <label class="append-colon">@ViewDateBudget.ResourcePacksCreditsAmount</label><span id="SummaryCredit">@Math.Round(Model.SummaryCredit, Constants.MoneyDecimalPlaces)</span> @Common.Rubles
    </div>
</div>
<br/>
<div class="row cols-container">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="base-form">
            <div class="base-form-heading">
                <h1><span id="Balance">@Math.Round((Model.Balance - Model.SummaryCredit), Constants.MoneyDecimalPlaces)</span> @Common.Rubles</h1>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row cols-container">
    <div class="col-md-6">
        @Html.Partial("ListPanel", new[] { ViewDateBudget.Income, "Incomes", "AddIncome" })
    </div>
    <div class="col-md-6">
        @Html.Partial("ListPanel", new[] { ViewDateBudget.Spendings, "Spendings", "AddSpending" })
    </div>
</div>
<br/>
<div class="row cols-container">
    <div class="col-md-6">
        @Html.Partial("ListPanel", new[] { ViewDateBudget.Credits, "Credits", "AddCredit" })
    </div>
    <div class="col-md-6">
        @Html.Partial("ListPanel", new[] { ViewDateBudget.MandatoryCashOffs, "MandatoryCashOffs", "AddMandatoryCashOff" })
    </div>
</div>
<script>
    $('@ModalPanelSelector').modal({show : false});

    var viewDateBudgetFunctions = new ViewDateBudget(
        @Model.ResourcePackId,
        "@Model.Date.ToString(DataLayer.Constants.JavascriptDateFormat)",
        "@DataLayer.Constants.MomentDateFormat",
        "@DataLayer.Constants.MomentServerDateFormat",
        "@Url.Action("ViewSpending", "Budget")",
        "@Url.Action("ViewIncome", "Budget")",
        "@Url.Action("ViewDateBudget", "Budget")",
        "@Url.Action("ViewCredit", "Credit")",
        "@Url.Action("ViewMandatoryCashOff", "MandatoryCashOff")",
        "@Common.Rubles",
        "@Common.All");

    $(document).ready(function() {
        viewDateBudgetFunctions.fillResourcePackResources();
        viewDateBudgetFunctions.reloadData();
    });

    $("@ModalPanelSelector").on('hidden.bs.modal', function () {
        viewDateBudgetFunctions.updateCurrentResourcePack();
        viewDateBudgetFunctions.updateModel();
    });

    var commonAddElementUrlTemplate = "{0}?resourcePackId=@(Model.ResourcePackId)&date={1}";
    $("#AddIncome").click(function() { showAndRedirectModal(commonAddElementUrlTemplate.format('@(Url.Action("AddIncome", "Budget"))', getFormattedCurrentDate()))});
    $("#AddSpending").click(function() { showAndRedirectModal(commonAddElementUrlTemplate.format('@(Url.Action("AddSpending", "Budget"))', getFormattedCurrentDate()))});
    $("#AddCredit").click(function() { showAndRedirectModal(commonAddElementUrlTemplate.format('@(Url.Action("AddCredit", "Credit"))', getFormattedCurrentDate()))});
    $("#AddMandatoryCashOff").click(function() { showAndRedirectModal(commonAddElementUrlTemplate.format('@(Url.Action("AddMandatoryCashOff", "MandatoryCashOff"))', getFormattedCurrentDate()))});

    function getFormattedCurrentDate() {
        return moment(viewDateBudgetFunctions.currentDate).format(viewDateBudgetFunctions.serverDateFormat);
    }

    $("#ResourceId").change(function() { viewDateBudgetFunctions.reloadData(); });
    $("#PrevDate").click(function() { viewDateBudgetFunctions.setPreviousDate() });
    $("#NextDate").click(function() { viewDateBudgetFunctions.setNextDate() });
</script>

