﻿@using AFinances.PresentationLayer.Resources.Views.Budget
@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Entities
@model IEnumerable<ResourcePackEntity>
<table class="filter-panel">
    <colgroup>
    <col class="resourcepack-col"/>
    <col />
    <col />
    <col />
    </colgroup>
    <tbody>
        <tr>
            <td>
                <h4 align="center">@Common.ResourcePack</h4>
                <select class="form-control" name="resourcepackPanel">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>
            <td>
                <h4 align="center">@ViewMoneyTurnover.ElementsCount</h4>
                <input name="dayCountPanel" class="element-counter" value="7" />
            </td>
            <td>
                <h4 align="center">@ViewMoneyTurnover.ToDate</h4>
                <input type='text' class="form-control datepicker" name='todatePanel' value='@DateTime.Today.ToString(DataLayer.Constants.DisplayDateFormat, System.Globalization.CultureInfo.InvariantCulture)'/>
            </td>
            <td>
                <h4 align="center">@ViewMoneyTurnover.Action</h4>
                <div class="btn-group">
                    <button class="btn btn-default" name="okPanel">@Common.OK</button>
                    <button class="btn btn-default" name="prevPanel">&lt;</button>
                    <button class="btn btn-default" name="nextPanel">&gt;</button>
                    <button class="btn btn-default" name="showAll">@Common.ShowAll</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
