﻿.btn-group, .btn-group-vertical
{
    display:inline-block;
    display:-webkit-inline-box;
}

.margin-sm-right
{
    margin-right: 20px;
}

.datepicker
{
    min-width:100px;
}

.horizontal-autoscroll
{
    overflow-x: auto;
}

.z-index-zero
{
    z-index: 0 !important;
}

.append-colon:after
{
    content: ":"
}

.loader {

    display: none;
    height:50px;
}

.inner-loader
{
    position: relative;
}

.loader.is-active
{
    display: block !important;
}

#dialog-confirm .dialog-margin
{
    float:left;
    margin:12px 12px 20px 0;
}

.ui-dialog.ui-corner-all
{
    z-index: 10000;
}

.padded-panel
{
    padding:10px;
}

.logo-pic
{
    width: 100%;
}

.top-nav ul li a 
{
    padding: 10px;
}

.modal .modal-content .modal-header *,
.display-inline
{
    display: inline;
}

.force-hidden
{
    display: none !important;
}

.float-right
{
    float: right;
}

.align-center
{
    text-align: center;
}

.behind-screen
{
    left: -999999px;
    top: -999999px;
}

div.col-almost-no-padding
{
    padding-left: 1px;
    padding-right: 1px;
}

.italic-text
{
    font-style: italic;
}

.main-content>.container
{
    margin-top: 100px;
}

html,body
{
    padding: 0 !important;
}

.support-heart{
    color: red;
    font-size: 50px;
}

.support-heart-container{
    margin-top: 10px;
}

.top-navigation
{
    border: none;
    padding-left: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    font-family: 'Exo2-SemiBold';
}

.top-navigation ul>li>a
{
    color: #399348 !important;
}

.top-navigation ul>li>a
{
    padding: 10px;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.top-navigation,.dropdown-content
{
    box-shadow: 0 0 5px rgba(0,0,0,.5),10px 10px 2px rgba(0,0,0,.24) !important;
}

.modal-panel-list
{
    overflow-y: scroll;
    height: 200px;
    display: block;
}

@font-face {
        font-family: "Exo2-SemiBold";
        font-weight: 400;
        src: url("/AppData/Fonts/Exo2-SemiBold.ttf");
}