﻿.st0 {
    fill: #E52421;
}

.st1 {
    fill: #E52320;
}

.st2 {
    enable-background: new;
}

.st3 {
    clip-path: url(#SVGID_2_);
    enable-background: new;
}

.st4 {
    fill: #921C0E;
}

.st5 {
    clip-path: url(#SVGID_4_);
    enable-background: new;
}

.st6 {
    fill: #8E1B0D;
}

.st7 {
    clip-path: url(#SVGID_6_);
    enable-background: new;
}

.st8 {
    clip-path: url(#SVGID_8_);
    enable-background: new;
}

.st9 {
    fill: #8C1B0C;
}

.st10 {
    clip-path: url(#SVGID_10_);
    enable-background: new;
}

.st11 {
    fill: #8B1B0C;
}

.st12 {
    clip-path: url(#SVGID_12_);
    enable-background: new;
}

.st13 {
    fill: #961C0F;
}

.st14 {
    clip-path: url(#SVGID_14_);
    enable-background: new;
}

.st15 {
    clip-path: url(#SVGID_16_);
    enable-background: new;
}

.st16 {
    fill: #A11E12;
}

.st17 {
    fill: #A51E13;
}

.st18 {
    fill: #A81F14;
}

.st19 {
    fill: #911B0E;
}

.st20 {
    clip-path: url(#SVGID_18_);
    enable-background: new;
}

.st21 {
    fill: #9A1D10;
}

.st22 {
    fill: #9D1D11;
}

.st23 {
    clip-path: url(#SVGID_20_);
    enable-background: new;
}

.st24 {
    fill: #9B1D10;
}

.st25 {
    clip-path: url(#SVGID_22_);
    enable-background: new;
}

.st26 {
    clip-path: url(#SVGID_24_);
    enable-background: new;
}

.st27 {
    clip-path: url(#SVGID_26_);
    enable-background: new;
}

.st28 {
    clip-path: url(#SVGID_28_);
    enable-background: new;
}

.st29 {
    fill: #D9231E;
}

.st30 {
    clip-path: url(#SVGID_30_);
    enable-background: new;
}

.st31 {
    clip-path: url(#SVGID_32_);
    enable-background: new;
}

.st32 {
    clip-path: url(#SVGID_34_);
    enable-background: new;
}

.st33 {
    clip-path: url(#SVGID_36_);
    enable-background: new;
}

.st34 {
    clip-path: url(#SVGID_38_);
    enable-background: new;
}

.st35 {
    clip-path: url(#SVGID_40_);
    enable-background: new;
}

.st36 {
    clip-path: url(#SVGID_42_);
    enable-background: new;
}

.st37 {
    clip-path: url(#SVGID_44_);
    enable-background: new;
}

.st38 {
    clip-path: url(#SVGID_46_);
    enable-background: new;
}

.st39 {
    clip-path: url(#SVGID_48_);
    enable-background: new;
}

.st40 {
    clip-path: url(#SVGID_50_);
    enable-background: new;
}

.st41 {
    clip-path: url(#SVGID_52_);
    enable-background: new;
}

.st42 {
    clip-path: url(#SVGID_54_);
    enable-background: new;
}

.st43 {
    fill: #FAFAFA;
}
