﻿#ModulesListPage .modules-table .module-img
{
    width: 100%;
}

#ModulesListPage .modules-table .module-ctrl-btns
{
    padding: 5px;
}

#ModulesListPage .modules-table .module-ctrl-btns *
{
    margin: 2px;
    width: 100%;
}

#ModulesListPage
{
    padding-bottom: 0;
}

#ModulesListPage .modules-table td
{
    vertical-align: middle;
}

#ModulesListPage .modules-table .module-name
{
    word-break: break-all;
}

#ModulesListPage .modules-list-paging-label
{
    text-align:center;
    margin-bottom: 10px;
}

#ModulesListPage .modules-list-paging-label *
{
    display: inline;
}

#LinkModuleResources #SelectedResources
{
    padding: 1px;
    overflow-y: scroll;
    max-height: 200px;
}

#LinkModuleResources #SelectedResources .list-group-item
{
    cursor: pointer;
}

#ModuleConfigurationInnerForm .result-msgs
{
    margin: 10px 0 0 0;
}

#ModuleConfigurationInnerForm .result-msgs ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#ModuleConfigurationInnerForm #ResourceModuleJobTimer div
{
    display: inline
}