﻿.search-query-form .type-inputs > label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    margin: 0 5px;
}

.search-query-form .search-types-panel{
    margin-top: 20px;
}

.search-result-row{
    cursor: pointer;
}

.search-types-panel > .panel-heading{
    padding: 5px;
    background-color: mediumseagreen;
    color: white;
}

.search-types-panel #ToggleTypes:hover{
    color: #EE732F;
    cursor: pointer;
}

.search-types-panel .type-inputs > label{
    text-align: center;
}

.search-query-form .info-panel{
    margin-bottom: 0;
}

.search-query-form .info-panel .panel-body{
    padding: 10px;
}

.search-query-form .pagination-panel{
    margin-bottom: 15px;
}
