    #ViewBudgetForm .inner-loader
    {
        position: relative !important;
    }

    #ViewBudgetForm .inner-loader:after
    {
        position: relative !important;
        border: solid 8px #000;
        border-left-color: #fff;
    }

    #ViewBudgetForm .filter-panel
    {
        width: 100%;
        border-spacing: 5px;
    }

    #ViewBudgetForm .credit-name-col
    {
        text-align: justify;
        width: 50%;
    }

    #ViewBudgetForm .datepicker
    {
        margin-bottom: 0px !important;
    }

    #ViewBudgetForm .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group
    {
        margin-right: -5px !important;
    }

    #ViewBudgetForm .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
    {
        margin-left: -5px;
    }

    #ViewBudgetForm .filter-panel tr td
    {
        vertical-align: middle;
        text-align: center;
    }

    #ViewBudgetForm #BudgetList tbody table
    {
        border-spacing: 10px;
    }

    #ViewBudgetForm #BudgetList tbody table td
    {
        padding: 5px;
    }
    
    #ViewBudgetForm #BudgetList .credits
    {
        width:100%;
    }
    
    #ViewBudgetForm #listFilter,#ViewBudgetForm #chartFilter
    {
       overflow-x: auto;
    }
    
    #ViewBudgetForm [name=elementCountPanel],#ViewBudgetForm [name=resourcepackPanel]
    {
        min-width: 100px;
    }
    
    #CurrentBudgetForm .current-credit-panel .payed-credit
    {
        background-color: mediumseagreen;
    }
    
    #CurrentBudgetForm .current-credit-panel .not-payed-credit
    {
        background-color: tomato;
    }
    
    #CurrentBudgetForm .current-credit-panel
    {
        border-radius: 0;
    }
    
    #CurrentBudgetForm .current-credit-panel .panel-heading
    {
        color: white;
    }
    
    #CurrentBudgetForm .current-credit-panel .panel-heading,
    #CurrentBudgetForm .current-credit-panel .panel-footer
    {
        padding: 5px 10px;
    }
