﻿#ViewDateBudgetForm .col-md-4
{
        padding: 4px;
}

#ViewDateBudgetForm .cols-container
{
    padding-left: 15px;
    padding-right: 15px;
}
#ViewDateBudgetForm .resource-dropdown
{
    width: initial !important;
    width: auto !important;
    display: inline;
}