﻿#ViewMoneyTurnoverForm .filter-panel
{
    width: 100%;
    border-spacing: 5px;
}

#ViewMoneyTurnoverForm .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group
{
    margin-right: -5px !important;
}

#ViewMoneyTurnoverForm .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
{
    margin-left: -5px;
}

#ViewMoneyTurnoverForm .filter-panel .resourcepack-col
{
    width:30%;
}

#ViewMoneyTurnoverForm #timeline article .panel-body
{
    display: none;
}