﻿@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Infrastructure
@using DataLayer
@model BusinessLayer.Entities.CreditRequestEntity
<div id="AddEditCreditBase">
    @using (Ajax.BeginForm(
        new AjaxOptions
        {
            UpdateTargetId = "AddEditCreditBase",
            LoadingElementId = "Loader",
            OnBegin = "modalPanelFunctions.toggleForm(true)",
            OnSuccess = "modalPanelFunctions.toggleForm(false)"
        }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.ResourcePackId)
        </div>
        <div class="editor-field">
            <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourcePackId)">
                @foreach (var item in Model.ResourcePacks)
                { 
                    <option value="@item.Id" @if (Model.ResourcePackId == item.Id)
                                                {@Html.Raw("selected=\"selected\"")}>@item.Name </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.ResourcePackId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBox(
                CommonHelper.nameof(() => Model.StartDate),
                Model.StartDate.ToString(DataLayer.Constants.DisplayDateFormat),
                new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBox(
                    CommonHelper.nameof(() => Model.EndDate),
                    Model.EndDate.ToString(DataLayer.Constants.DisplayDateFormat),
                    new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summ)
        </div>
        <div class="editor-field">
            @Html.TextBox(
                    CommonHelper.nameof(() => Model.Summ),
                    Model.Summ.ToString(new System.Globalization.CultureInfo(Constants.DateTimePickerCulture)),
                    new { @class = "z-index-zero" })
            @Html.ValidationMessageFor(model => model.Summ)
        </div>
        <br />
        <div class="editor-field">
            <label>
            <input type="checkbox" data-toggle="toggle" name="@CommonHelper.nameof(() => Model.IsPayed)" />
            @Html.LabelFor(model => model.IsPayed)
            @Html.ValidationMessageFor(model => model.IsPayed)
            </label>
        </div>
        <br />
        <button type="submit" class="btn1 btn-1 btn-1b form-control">@ViewBag.AcceptBtnName</button>
    </div>
    </div>
}
</div>
<script>
    modalPanelFunctions.initializeModal();
    var $isPayedToggle = $('[name=@CommonHelper.nameof(() => Model.IsPayed)]');
    $isPayedToggle.bootstrapToggle({
        on: '@Common.Yes',
        off: '@Common.No'
    });
    $isPayedToggle.prop('checked', getBool("@Model.IsPayed")).change();
    fixJQueryValidator();
    $("#Summ").TouchSpin({
        decimals: 2,
        min: 0.00,
        max: 1000000.00,
        boostat: 5,
        step: 0.01,
        maxboostedstep: 25
    });

    $('#AddEditCreditBase form').submit(function () {
        if ($('#AddEditCreditBase form').valid()) {
            fixToggleValue($isPayedToggle);
            fixFloatingDot("#Summ");
            $('#AddEditCreditBase form').validate().cancelSubmit = true;
        }
    });
</script>

