﻿@model BusinessLayer.Entities.CreditRequestEntity
@using DataLayer;
@using BusinessLayer.Infrastructure;
@using AFinances.PresentationLayer.Resources.Views;
@using AFinances.PresentationLayer.Resources.Views.Credit;
@{
    ViewBag.Title = Titles.ViewCredit;
    Layout = null;
}
<div id="ViewCreditBase">
    @using (Ajax.BeginForm(new AjaxOptions {
        UpdateTargetId = "ViewCreditBase",
        LoadingElementId = "Loader",
        OnBegin="modalPanelFunctions.toggleForm(true)",
        OnSuccess="modalPanelFunctions.toggleForm(false)" }))
    {  
        @Html.HiddenFor(x => x.Id)
        <div id="Loader" class="loader loader-default inner-loader">
        </div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.ValidationSummary(true)
                <label class="append-colon">@Html.LabelFor(model => model.Name)</label>
                @Model.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(model => model.Description)</label>
                @Model.Description
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.ResourcePackId)</label>
                @Model.ResourcePack.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Summ)</label>
                @Model.Summ@Common.Rubles
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <label class="append-colon">@Html.LabelFor(x => x.StartDate)</label>
                        @Model.StartDate.ToString(Constants.DisplayDateFormat)
                    </div>
                    <div class="col-lg-6">
                        <label class="append-colon">@Html.LabelFor(x => x.EndDate)</label>
                        @Model.EndDate.ToString(Constants.DisplayDateFormat)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <label class="append-colon">@ViewCredit.EverydaySubtractions</label>
                        @Math.Round(CreditHelper.GetEveryDaySubtractions(Model), Constants.MoneyDecimalPlaces)@Common.Rubles
                    </div>
                    <div class="col-lg-6">
                        <label class="append-colon">@ViewCredit.EverymonthSubtractions</label>
                        @Math.Round(CreditHelper.GetEverymonthSubtractions(Model), Constants.MoneyDecimalPlaces)@Common.Rubles
                    </div>
                </div>
                <hr />
                <label class="append-colon">@ViewCredit.ItIsNecessaryToSubtract</label>
                @Math.Round(CreditHelper.GetLeftToSubstract(Model), Constants.MoneyDecimalPlaces)@Common.Rubles
            </div>
            <br />
            <div class="row">
            @if (!Model.IsPayed)
            {
                <div class="col-xs-4 col-almost-no-padding modal-redirect" url="@Url.Action("EditCredit", new { id = Model.Id })">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="EditCredit">@Common.Edit</button>
                </div>
                <div class="col-xs-4 col-almost-no-padding">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="RemoveCredit">@Common.Remove</button>
                </div>
                <div class="col-xs-4 col-almost-no-padding modal-redirect" url="@Url.Action("CloseCredit", new { id = Model.Id })">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="CloseCredit">@ViewCredit.CloseCredit</button>
                </div>
            }
            else
            {
                <div class="col-xs-6 col-almost-no-padding modal-redirect" url="@Url.Action("EditCredit", new { id = Model.Id })">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="EditCredit">@Common.Edit</button>
                </div>
                <div class="col-xs-6 col-almost-no-padding">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="RemoveCredit">@Common.Remove</button>
                </div>
            }
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    $("#RemoveCredit").click(function () { toggleDialog(true); });

    function confirmDialog() {
        toggleDialog(false);
        modalPanelFunctions.redirectModal("@Url.Action("RemoveCredit", "Credit", new { id = Model.Id })");
    }
</script>
