﻿@using AFinances.PresentationLayer.Resources.Views.Module
@using AFinances.PresentationLayer.Resources.Views
@{
    Layout = null;
    ViewBag.Title = Titles.AddModuleFromFile;
}
<div id="AddModuleFromFileForm">
    @using (Ajax.BeginForm(
        null,
        null,
        null,
        new AjaxOptions
        {
            UpdateTargetId = "AddModuleFromFileForm",
            LoadingElementId = "Loader",
            OnBegin = "modalPanelFunctions.toggleForm(true)",
            OnSuccess = "modalPanelFunctions.toggleForm(false)"
        },
        new { enctype = "multipart/form-data" }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
		        <div class="input-group input-file" name="moduleFile" id="moduleFile">
			        <span class="input-group-btn">
        		        <button class="btn btn-default btn-choose" type="button">@AddModuleFromFile.ChooseBtn</button>
    		        </span>
    		        <input type="text" class="form-control" placeholder='@AddModuleFromFile.ChooseAFile'/>
		        </div>
                <br />
                <button type="button" id="AddModuleFileBtn" class="btn1 btn-1 btn-1b form-control">@Common.Add</button>
                <input type="submit" id="SubmitBtn" hidden="hidden" />
            </div>
        </div>
<script>
    initializeFileInputs();
    fixAjaxFormFileUploading();

    try {
        modalPanelFunctions.initializeModal();
    }
    catch (e) { }

    $('#AddModuleFileBtn').click(function () {
        $("#Loader").show();
        $("#moduleFile :input").attr("disabled", true);
        $("#AddModuleFileBtn").attr("disabled", true);
        $("#SubmitBtn").click();
    });
</script>
    }
</div>