﻿@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Infrastructure
@using BusinessLayer.Entities.Module
@using ViewResource = AFinances.PresentationLayer.Resources.Views.Module.ModuleConfiguration
@model ModuleConfiguration
@{
    Layout = null;
    ViewBag.Title = Titles.ModuleConfiguration;
}

<div id="ModuleConfigurationInnerForm">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "ModuleConfigurationInnerForm",
        LoadingElementId = "ModuleConfigLoader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {
        <div id="ModuleConfigLoader" class="loader loader-default inner-loader"></div>
        <input type="hidden" name="@CommonHelper.nameof(() => Model.Id)" value="@Model.Id"/>
        <input type="hidden" name="@CommonHelper.nameof(() => Model.ResourceId)" id="HiddenResourceId"/>
        <input type="hidden" name="@CommonHelper.nameof(() => Model.ModuleId)" value="@Model.ModuleId"/>
        <input
            type="hidden"
            name="@CommonHelper.nameof(() => Model.AdditionalConfiguration)"
            id="@CommonHelper.nameof(() => Model.AdditionalConfiguration)"
            value="@Model.AdditionalConfiguration"/>

        <div class="editor-field">
            <div class="row">
                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" data-toggle="toggle" name="@CommonHelper.nameof(() => Model.IsActive)" />
                        @Html.LabelFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </label>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary" id="ImmediatelyRunJobBtn">@ViewResource.RunModuleNowBtn</button>
                </div>
            </div>
        </div>

        <br />

        <!--
        **NOT IMPLEMENTED FEATURE***
        <div class="editor-field">
            <label>
                <input type="checkbox" data-toggle="toggle" name="@CommonHelper.nameof(() => Model.IsDelayedJob)" />
                @Html.LabelFor(model => model.IsDelayedJob)
                @Html.ValidationMessageFor(model => model.IsDelayedJob)
            </label>
        </div>
        -->

        <div class="editor-field">
            <div class="row">
                <div class="col-xs-6">
                    @Html.LabelFor(x => x.Hours)
                    @Html.TextBoxFor(x => x.Hours, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Hours)
                </div>
                <div class="col-xs-6">
                    @Html.LabelFor(x => x.Minutes)
                    @Html.TextBoxFor(x => x.Minutes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Minutes)
                </div>
            </div>
        </div>
        <div class="editor-field">
            <label><span class="append-colon">@ViewResource.TimerJobRemain</span>&nbsp;<span id="ResourceModuleJobTimer" data-seconds-left="0"></span></label>
        </div>
        <span id="AdditionalConfigContainer"></span>
        @Html.ValidationSummary(true, string.Empty, new { @class = "result-msgs" })

        <script type="text/basis-template" id="additionalcfg-item">
            <span>
                <br/>
                <div class="editor-label">
                    <label>{labelname}</label>
                </div>
                <div class="editor-field">
                    <input type="{type}" name="{name}" id="{name}" value="{value}" class="form-control" />
                </div>
            </span>
        </script>

        <script>
            if (window.moduleConfigFunctions != null) {
                moduleConfigFunctions.startTimer();
                moduleConfigFunctions.displayModuleConfigurationFields();
            }

            $("#ImmediatelyRunJobBtn").click(function () {
                applyConfirmDialogFunc = function () { moduleConfigFunctions.immediatelyRunJob(); }
                toggleDialog(true, "@ViewResource.RunModuleNowWarning", "@ViewResource.RunModuleWarningTitle", "@Common.OK");
            });

            var isActiveToggle = $('[name=@CommonHelper.nameof(() => Model.IsActive)]');
            isActiveToggle.bootstrapToggle({
                on: '@Common.Yes',
                off: '@Common.No'
            });
            isActiveToggle.prop('checked', getBool("@Model.IsActive")).change();

            /*
            **NOT IMPLEMENTED FEATURE***
            var isDelayedJobToggle = $('[name=@CommonHelper.nameof(() => Model.IsDelayedJob)]');
            isDelayedJobToggle.bootstrapToggle({
            on: '@Common.Yes',
            off: '@Common.No'
            });
            isDelayedJobToggle.prop('checked', getBool("@Model.IsDelayedJob")).change();
            */

            initializeSpinner("#ModuleConfigLoader");

            $('#ModuleConfigurationInnerForm form').submit(function () {
                $("[data-toggle='toggle']").each(function () {
                    fixToggleValue($(this));
                });

                $("#AdditionalConfiguration").val(serializeForm("#ModuleConfigurationInnerForm form"));
            });
        </script>
    }
</div>
