﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Module
@using DataLayer
@using DataLayer.Models
@model IEnumerable<Module>
<div id="ModuleListLoader" class="loader loader-default inner-loader"></div>
<div id="Base">
@using (Ajax.BeginForm(
    null,
    null,
    new AjaxOptions
        {
            UpdateTargetId = "Base",
            LoadingElementId = "ModuleListLoader",
            Url = Url.Action("GetModules")
        },
    new { id = "ModulesListForm" }))
{
    @Html.Hidden("page", 0);
    <table class="table modules-table">
        <colgroup>
            <col width="20%" />
            <col width="60%" />
            <col width="20%" />
        </colgroup>
        <tbody>
            @if (Model != null) {
                foreach (var module in Model) {
                <tr>
                    <td>
                        <img class="module-img" src="data:image/png;base64, @module.ImageBase64"/>
                    </td>
                    <td class="h2 module-name">
                        @module.DisplayName
                    </td>
                    <td class="module-ctrl-btns">
                    <button class="btn btn-success" onclick="configureModuleResources(@module.Id)"><span class="mdi mdi-pipe-disconnected"></span>@Index.LinkModuleResources</button>
                        <button class="btn btn-primary" onclick="configureModule(@module.Id)"><span class="mdi mdi-settings"></span>@Common.Configuration</button>
                        <button type="button" class="btn btn-danger" onclick="openRemoveModuleDialog(@module.Id)"><span class="mdi mdi-delete"></span>@Common.Remove</button>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
}

<script>
    var form = $("#ModulesListForm");
    var modal = $("#@Constants.ModalPanelId");
    modal.unbind("hidden.bs.modal");
    modal.on('hidden.bs.modal', function () {
        resetAjaxModuleForm();
        form.submit();
    });
</script>
</div>

<script>
    function applyConfirmDialogFunc () { };

    function confirmDialog () {
        $("#dialog-confirm").dialog("close");
        applyConfirmDialogFunc();
    };

    function resetAjaxModuleForm() {
        form.attr("data-ajax-url", "@Url.Action("GetModules")?page=" + $("#page").val());
    }

    var currentModuleId = -1;

    function removeModule() {
        form.attr("data-ajax-url", "@Url.Action("RemoveModule")/" + currentModuleId + "?page=" + $("#page").val());
        form.submit();
        resetAjaxModuleForm();
    }

    function configureModule(moduleId) {
        showAndRedirectModal("@Url.Action("ModuleConfiguration", "Module")?moduleId=" + moduleId);
    }

    function configureModuleResources(moduleId) {
        showAndRedirectModal("@Url.Action("LinkModuleResources", "Module")/" + moduleId);
    }

    function openRemoveModuleDialog(moduleId) {
        applyConfirmDialogFunc = removeModule;
        currentModuleId = moduleId;
        toggleDialog(true);
    }
</script>
