﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Module
@using DataLayer
@{
    ViewBag.Title = Titles.ModulesList;
}
<div class="base-form" id="ModulesListPage">
    <div class="base-form-heading">
        <div class="modules-list-paging-label">
            <button class="btn btn-default" id="PrevPage">&lt;</button>
            <h3>@ViewBag.Title</h3>
            <button class="btn btn-default" id="NextPage">&gt;</button>
        </div>
        <div class="text-center">
            <button class="btn1 btn-1 btn-1b" title="@Common.DoesntWork"><span class="mdi mdi-lan"></span>@Index.AddFromRepo</button>
            <button class="btn1 btn-1 btn-1b" id="AddModuleFromFileBtn"><span class="mdi mdi-floppy"></span>@Index.AddFromFile</button>
        </div>
        <br />
        @Html.Partial("Index_ModulesList")
    </div>
</div>
<script>
    $("#ModulesListForm").submit();
    $("#AddModuleFromFileBtn").click(function () {
        showAndRedirectModal('@Url.Action("AddModuleFromFile")');
    });

    $('#PrevPage').click(function () {
        var pageNumber = +$('#page').val();
        if (pageNumber <= 0) return;
        $('#page').val(pageNumber - 1);
        $("#ModulesListForm").submit();
    });

    $('#NextPage').click(function () {
        $('#page').val(+$('#page').val() + 1);
        $("#ModulesListForm").submit();
    });

    $("#@Constants.ModalPanelId").on('show.bs.modal', function () {
        $("#ModuleConfigurationInnerForm").html("");
    });
</script>

