﻿@using System.Text.RegularExpressions
@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Infrastructure
@using BusinessLayer.Entities
@using BusinessLayer.Entities.Module
@using ViewResource = AFinances.PresentationLayer.Resources.Views.Module.ModuleConfiguration
@model ModuleConfiguration
@{
    Layout = null;
    ViewBag.Title = Titles.ModuleConfiguration;
}

<div id="ModuleConfigurationForm">
    <div class="base-form">
        <div class="base-form-heading">
            @using (Ajax.BeginForm(new AjaxOptions
            {
                UpdateTargetId = "ModuleConfigurationForm",
                LoadingElementId = "Loader",
                OnBegin = "modalPanelFunctions.toggleForm(true)",
                OnSuccess = "modalPanelFunctions.toggleForm(false)"
            }))
                {   
                    <div id="Loader" class="loader loader-default inner-loader">
                    </div>
                    <h3>@ViewBag.Title</h3>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ResourcePackId)
                    </div>
                    <div class="editor-field">
                        <select
                            class="form-control"
                            name="@CommonHelper.nameof(() => Model.ResourcePackId)"
                            id="@CommonHelper.nameof(() => Model.ResourcePackId)" >
                                @foreach (var item in Model.ResourcePacks)
                                { 

                                    <option value="@item.Id" @if (Model.ResourcePackId == item.Id)
                                                                {@Html.Raw("selected=\"selected\"")}>@item.Name</option>
                                }
                        </select>
                        @Html.ValidationMessageFor(model => model.ResourcePackId)
                    </div>
                    <br />
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ResourceId)
                    </div>
                    <div class="editor-field">
                        <div id="ResourcesLoader" class="loader loader-default inner-loader">
                        </div>
                        <select
                            class="form-control"
                            name="@CommonHelper.nameof(() => Model.ResourceId)"
                            id="@CommonHelper.nameof(() => Model.ResourceId)" >
                                @foreach (var item in Model.Resources ?? Enumerable.Empty<ResourceEntity>())
                                { 

                                    <option value="@item.Id" @if (Model.ResourcePackId == item.Id)
                                                                {@Html.Raw("selected=\"selected\"")}>@item.Name</option>
                                }
                        </select>
                        @Html.ValidationMessageFor(model => model.ResourceId)
                    </div>
            }
            <br />
            @Html.Partial("Index_ModuleConfiguration_Config", new ModuleConfiguration() { ModuleId = Model.ModuleId })
            <br />
            <button type="button" id="SaveModuleResourceConfigBtn" class="btn1 btn-1 btn-1b form-control">@Common.Save</button>
        </div>
    </div>
</div>
<script>
    try {
        modalPanelFunctions.initializeModal();
    }
    catch (e) { }

    var moduleConfigFunctions = new ModuleConfiguration(
        @Model.ModuleId,
        "@Regex.Escape(DataLayer.Constants.ModulePasswordFieldRegex)",
        "@Common.Yes",
        "@Common.No");
    $("#ResourcePackId").change(function() { moduleConfigFunctions.getResources(); });
    $("#ResourceId").on("change", function() { moduleConfigFunctions.onSelectResource(); });

    $("#SaveModuleResourceConfigBtn").click(function () {
        applyConfirmDialogFunc = function () { moduleConfigFunctions.submitModuleResourcePackChanges(); }
        toggleDialog(true, "@ViewResource.SaveModuleCfgWarning", "@ViewResource.SaveModuleCfgWarningTitle", "@Common.Save");
    });

    $(document).ready(function () { moduleConfigFunctions.getResources(); });
</script>