﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Module
@using BusinessLayer.Infrastructure
@using BusinessLayer.Entities.Module
@model LinkModuleResourcesEntity
@{
    Layout = null;
    ViewBag.Title = Titles.LinkModuleResources;
}
<div id="LinkModuleResources">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "LinkModuleResources",
        LoadingElementId = "Loader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {   
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.SelectedResourcesIdsJson)
                @Html.HiddenFor(model => model.DisplayModuleName)
                @Html.HiddenFor(model => model.ModuleId)
                <div class="editor-label">
                    <span class="append-colon">@Html.LabelFor(model => model.DisplayModuleName)</span>
                    @Model.DisplayModuleName
                </div>
                <br />
                <div class="editor-label">
                    @Html.LabelFor(model => model.ResourcePackId)
                </div>
                <div class="editor-field">
                    <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourcePackId)" id="@CommonHelper.nameof(() => Model.ResourcePackId)">
                        @foreach (var item in Model.ResourcePacks)
                        { 
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ResourcePackId)
                </div>
                <br />
                <div class="editor-label">
                    @Html.LabelFor(model => model.ResourceId)
                </div>
                <div class="editor-field">
                    <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourceId)" id="@CommonHelper.nameof(() => Model.ResourceId)">
                    </select>
                    @Html.ValidationMessageFor(model => model.ResourceId)
                </div>
                <br />
                <button type="button" id="SelectModuleResource" class="btn1 btn-1 btn-1b form-control">@Common.Add</button>
                <br />
                <h3>@LinkModuleResources.SelectedResources</h3>
                <ul class="list-group well" name="@CommonHelper.nameof(() => Model.SelectedResources)" id="@CommonHelper.nameof(() => Model.SelectedResources)">
                    @foreach (var item in Model.SelectedResources)
                    { 
                        <li class="list-group-item" value="@item.Id">@item.Name</li>
                    }
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="RemoveModuleResource" class="btn btn-danger form-control">@Common.Remove</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn1 btn-1 btn-1b form-control">@Common.Save</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    try{
        modalPanelFunctions.initializeModal();
    }
    catch(e) {}

    var linkModuleResourcesFuntions = new LinkModuleResources();
    linkModuleResourcesFuntions.getResources();
    linkModuleResourcesFuntions.bindSelectedResources();
    $("#ResourcePackId").change(function () { linkModuleResourcesFuntions.getResources(); });
    $("#SelectModuleResource").click(function () { linkModuleResourcesFuntions.addResource(); });
    $("#RemoveModuleResource").click(function () { linkModuleResourcesFuntions.removeResource(); });
    $("#LinkModuleResources form").submit(function () { linkModuleResourcesFuntions.saveSelectedResourcesNamesJson(); });
</script>