﻿@using BusinessLayer.Infrastructure
@model DataLayer.Models.SearchResult
<div id="SearchLoader" class="loader loader-default inner-loader"></div>
<div id="SearchFormBase">
@using (Ajax.BeginForm(
    null,
    null,
    new AjaxOptions
        {
            UpdateTargetId = "SearchFormBase",
            LoadingElementId = "SearchLoader",
            Url = Url.Action("Search")
        },
    new { id = "SearchForm" }))
{  
    @Html.Hidden("Take")
    @Html.Hidden(CommonHelper.nameof(() => Model.Page))
    @Html.Hidden("Query")
    @Html.Hidden("TypeNamesJson")
foreach (var item in Model.Results)
{
         @Html.Partial("Search_" + item.Key.Name, item.Value)
    }
}
</div>
<script>
    $("#SearchForm").submit(function () {
        if (!window.dontresetpage) $("#Page").val(0);
        $("#Query").val($("#SearchQuery").val());
        $("#Take").val($("#TakeItems").val());
        $("#TypeNamesJson").val(JSON.stringify($("[name=TypeToggle]")
            .filter(function () { return !$(this).closest('.toggle').hasClass("off"); })
            .map(function () { return this.getAttribute("typename"); }).get()));
        window.dontresetpage = false;
    });

    $(".search-result-modal").click(function (e) { showAndRedirectModal($(e.currentTarget).attr("redirect")); });
    $(".search-result-link").click(function (e) { location.href=$(e.currentTarget).attr("redirect"); });
</script>