﻿@using AFinances.PresentationLayer.Resources.Views;
@using AFinances.PresentationLayer.Resources.Views.Search;
@using DataLayer.Models
@using DataLayer
@using DataLayer.Infrastructure
@model Dictionary<Type, bool>
@{
    ViewBag.Title = "Index";
    ViewBag.Title = Titles.Search;
}
<div class="base-form search-query-form">
        <div class="base-form-heading">
            <h3>@ViewBag.Title</h3>
            <form id="QueryForm">
                <div class="row">
                    <div class="col-md-10">
                        @Html.TextBox("SearchQuery", string.Empty, new { @class = "form-control", placeholder = Index.QueryPlaceholder })
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn1 btn-1 btn-1b form-control">@Index.Search</button>
                    </div>
                </div>
                <script>
                    $("#QueryForm").submit(function (e) {
                        e.preventDefault();
                        $("#SearchForm").submit();
                        return false;
                    });
                </script>
            </form>
            <div class="panel panel-default search-types-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @Index.SearchTypes
                        <a class="float-right" id="ToggleTypes"><i class="mdi mdi-arrow-up-drop-circle"></i>
                        </a>
                    </h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="input-group type-inputs">
                        @foreach (var item in Model)
                        {
                            <label>
                                <label>@AttributeHelpers.GetEntityName(item.Key)</label>
                                <br />
                                <input type="checkbox"
                                       data-toggle="toggle"
                                       name="TypeToggle"
                                       typename="@item.Key.FullName"
                                       default-action="@Html.Raw(item.Value ? "on" : "off")"
                                 />
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center pagination-panel">
                        <label class="append-colon">@Index.Page</label>
                        <button class="btn btn-default" id="PrevPage">&lt;</button>
                        <button class="btn btn-default" id="NextPage">&gt;</button>
                        <label class="append-colon">@Index.ItemsCount</label>
                        <select class="btn btn-default" id="TakeItems">
                            @foreach (byte value in Constants.AvaliableSearchTakeValues)
                            { 
                                <option value="@value" @if (value == Constants.DefaultSearchTakeValue)
                                                       {@Html.Raw("selected=\"selected\"")}>@value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="panel panel-default info-panel">
                        <div class="panel-body">@Index.InfoMessage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br />
<div class="base-form">
    <div class="base-form-heading">
        <h3>@Index.SearchResults</h3>
        <div class="horizontal-autoscroll">
            @Html.Partial("Index_Search", new SearchResult())
        </div>
    </div>
</div>
<script>
    $('[name=TypeToggle').each(function (){
        var $this = $(this);
        $this.bootstrapToggle({
            on: '@Common.Yes',
            off: '@Common.No'
        });
        $this.bootstrapToggle($this.attr("default-action"));
    });
    $("#ToggleTypes").click(function () {
        toggleTypes();
    });
    $(".search-types-panel > .panel-heading").dblclick(function () {
        toggleTypes();
    });
    function toggleTypes() {
        $(".search-types-panel > .panel-body").slideToggle('fast');
    }
    $("#PrevPage").click(function () {
        var pageNumber = +$('#Page').val();
        if (pageNumber <= 0) return;
        $('#Page').val(pageNumber - 1);
        window.dontresetpage = true;
        $("#SearchForm").submit();
    });

    $('#NextPage').click(function () {
        $('#Page').val(+$('#Page').val() + 1);
        window.dontresetpage = true;
        $("#SearchForm").submit();
    });
</script>
