﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using AFinances.PresentationLayer.Resources.Views
@using DataLayer
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var MandatoryCashOffs = Model.OfType<MandatoryCashOff>();
}
<h3 class="append-colon">@Index.MandatoryCashOffs</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <colgroup>
        <col width="60%"/>
        <col width="20%"/>
        <col width="10%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => MandatoryCashOffs.FirstOrDefault().Description)</td>
        <td>@Html.LabelFor(x => MandatoryCashOffs.FirstOrDefault().Place)</td> 
        <td>@Html.LabelFor(x => MandatoryCashOffs.FirstOrDefault().Date)</td> 
        <td>@Html.LabelFor(x => MandatoryCashOffs.FirstOrDefault().Summ)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in MandatoryCashOffs)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewMandatoryCashOff", "MandatoryCashOff", new { id = item.Id })">
            <td>@item.Description</td>
            <td>@item.Place</td>
            <td>@item.Date.ToString(Constants.DisplayDateFormat)</td> 
            <td>@Math.Round(item.Summ, Constants.MoneyDecimalPlaces)@Common.Rubles</td> 
        </tr>
        }
    </tbody>
  </table>
</div>