﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Resources = Model.OfType<Resource>();
}
<h3 class="append-colon">@Index.Resources</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Resources.FirstOrDefault().Name)</td> 
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Resources)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewResource", "Resource", new { id = item.Id })">
            <td>@item.Name</td>
        </tr>
        }
    </tbody>
  </table>
</div>