﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var ResourceTypes = Model.OfType<ResourceType>();
}
<h3 class="append-colon">@Index.ResourceTypes</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
        <td>@Html.LabelFor(x => ResourceTypes.FirstOrDefault().Name)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in ResourceTypes)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewResourceTypes", "Resource")">
            <td>@item.Name</td>
        </tr>
        }
    </tbody>
  </table>
</div>