﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var ResourcePacks = Model.OfType<ResourcePack>();
}
<h3 class="append-colon">@Index.ResourcePacks</h3>
<div class="table-responsive">
  <table class="table table-hover">
      <colgroup>
        <col width="80%"/>
        <col width="20%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => ResourcePacks.FirstOrDefault().Name)</td>
        <td>@Html.LabelFor(x => ResourcePacks.FirstOrDefault().Limit)</td> 
    </tr>
    </thead>
    <tbody>
        @foreach (var item in ResourcePacks)
        {
        <tr class="search-result-row search-result-link" redirect="@Url.Action("ViewResourcePack", "Resource", new { id = item.Id })">
            <td>@item.Name</td>
            <td>@item.Limit</td>
        </tr>
        }
    </tbody>
  </table>
</div>