﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Users = Model.OfType<User>();
}
<h3 class="append-colon">@Index.Users</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Users.FirstOrDefault().UserName)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Users)
        {
        <tr class="search-result-row search-result-link" redirect="@Url.Action("ViewAccount", "Account", new { name = item.UserName })">
            <td>@item.UserName</td>
        </tr>
        }
    </tbody>
  </table>
</div>