﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using AFinances.PresentationLayer.Resources.Views
@using DataLayer
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Spendings = Model.OfType<Spending>();
}
<h3 class="append-colon">@Index.Spendings</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <colgroup>
        <col width="65%"/>
        <col width="20%"/>
        <col width="10%"/>
        <col width="5%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Spendings.FirstOrDefault().Description)</td> 
        <td>@Html.LabelFor(x => Spendings.FirstOrDefault().Place)</td> 
        <td>@Html.LabelFor(x => Spendings.FirstOrDefault().DateAndTime)</td> 
        <td>@Html.LabelFor(x => Spendings.FirstOrDefault().Price)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Spendings)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewSpending", "Budget", new { id = item.Id })">
            <td>@item.Description</td> 
            <td>@item.Place</td> 
            <td>@item.DateAndTime.ToString(Constants.DisplayDateFormat)</td> 
            <td>@Math.Round(item.Price, Constants.MoneyDecimalPlaces)@Common.Rubles</td> 
        </tr>
        }
    </tbody>
  </table>
</div>