﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using DataLayer
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Logs = Model.OfType<Log>();
}
<h3 class="append-colon">@Index.Logs</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <colgroup>
        <col width="70%"/>
        <col width="15%"/>
        <col width="15%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Logs.FirstOrDefault().Description)</td>
        <td>@Html.LabelFor(x => Logs.FirstOrDefault().DateAndTime)</td> 
        <td>@Html.LabelFor(x => Logs.FirstOrDefault().UserName)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Logs)
        {
        <tr class="search-result-row search-result-link" redirect="@Url.Action("ViewAccount", "Account", new { name = item.UserName })">
            <td>@item.Description</td>
            <td>@item.DateAndTime.ToString(Constants.DisplayDateTimeFormat)</td> 
            <td>@item.UserName</td>
        </tr>
        }
    </tbody>
  </table>
</div>