﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using AFinances.PresentationLayer.Resources.Views
@using DataLayer
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Credits = Model.OfType<Credit>();
}
<h3 class="append-colon">@Index.Credits</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <colgroup>
        <col width="60%"/>
        <col width="30%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Credits.FirstOrDefault().Name)</td>
        <td>@Html.LabelFor(x => Credits.FirstOrDefault().StartDate)-@Html.LabelFor(x => Credits.FirstOrDefault().EndDate)</td>
        <td>@Html.LabelFor(x => Credits.FirstOrDefault().Summ)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Credits)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewCredit", "Credit", new { id = item.Id })">
            <td>@item.Description</td>
            <td>@item.StartDate.ToString(Constants.DisplayDateFormat)-@item.EndDate.ToString(Constants.DisplayDateFormat)</td> 
            <td>@Math.Round(item.Summ, Constants.MoneyDecimalPlaces)@Common.Rubles</td>
        </tr>
        }
    </tbody>
  </table>
</div>