﻿@using AFinances.PresentationLayer.Resources.Views.Search
@using AFinances.PresentationLayer.Resources.Views
@using DataLayer
@using DataLayer.Models
@using System.Linq
@model System.Collections.IEnumerable
@{
    var Incomes = Model.OfType<Income>();
}
<h3 class="append-colon">@Index.Incomes</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <colgroup>
        <col width="70%"/>
        <col width="20%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
    <tr>
        <td>@Html.LabelFor(x => Incomes.FirstOrDefault().Description)</td>
        <td>@Html.LabelFor(x => Incomes.FirstOrDefault().DateAndTime)</td> 
        <td>@Html.LabelFor(x => Incomes.FirstOrDefault().Summ)</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Incomes)
        {
        <tr class="search-result-row search-result-modal" redirect="@Url.Action("ViewIncome", "Budget", new { id = item.Id })">
            <td>@item.Description</td>
            <td>@item.DateAndTime.ToString(Constants.DisplayDateFormat)</td> 
            <td>@Math.Round(item.Summ, Constants.MoneyDecimalPlaces)@Common.Rubles</td> 
        </tr>
        }
    </tbody>
  </table>
</div>