@using AFinances.PresentationLayer.Resources.Views
@{
    Layout = null;
    ViewBag.Title = Titles.Donate;
}
<div id="DonateBase">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "DonateBase",
        LoadingElementId = "DonateLoader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <div id="DonateLoader" class="loader loader-default inner-loader">
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="align-center support-heart-container">
                            <i class="mdi mdi-cards-heart support-heart"></i>
                        </div>
                        <p align="justify">@Common.SupportAppInfo</p>
                    </div>
                </div>
                <iframe
                    src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%AF.%D0%94%D0%B5%D0%BD%D1%8C%D0%B3%D0%B8%20-%20%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20AFinances&targets-hint=&comment=on&default-sum=&button-text=14&hint=&successURL=&quickpay=shop&account=410012712430114"
                    width="101%"
                    height="301"
                    frameborder="0"
                    allowtransparency="true"
                    scrolling="no">
                </iframe>
            </div>
        </div>
    }
</div>