﻿@{
    ViewBag.Title = "Home Page";
}
@using BusinessLayer.Entities
@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Home
@model IEnumerable<BudgetResourcePackEntity>
<div class="base-form">
<img src="@Url.Content("~/AppData/Images/Logo.png")" class="logo-pic" />
</div>
<br />
<div class="base-form col-md-5">
    <div class="base-form-heading">
        <h3>
            <button class="btn btn-default next-prev-btn" id="PrevResourcePacks">&lt;</button>
            @Index.ResourcePackList
            <button class="btn btn-default next-prev-btn" id="NextResourcePacks">&gt;</button>
        </h3>
    </div>
    <ul class="list-group" id="resourcepack-list">
    </ul>
    <button type="button" id="AddResourcePack" class="btn1 btn-1 btn-1b form-control">@Index.CreateResourcePackBtn</button>
</div>
<div class="col-md-1">
</div>
<div class="base-form col-md-6">
    <div class="base-form-heading">
        <h3>
            @Common.Budget
        </h3>
    </div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("ViewResourcePack", "Resource", new { id = @item.ResourcePackId })">
                    @item.ResourcePackName
                </a>
                @item.Balance @Html.Raw("-") <span class="text-danger">@item.SummaryCredit</span> @Html.Raw("=")
                <a href="@Url.Action("ViewDateBudget", "Budget", new {
                        resourcePackId = item.ResourcePackId,
                        date = DateTime.Today.ToString(DataLayer.Constants.JavascriptDateFormat, System.Globalization.CultureInfo.InvariantCulture) })">
                    @(item.Balance - item.SummaryCredit) @Common.Rubles
                </a>
            </li>
        }
    </ul>
</div>

<script type="text/basis-template" id="resourcepack-row">
<li class="list-group-item">
    <a href="@Url.Action("ViewResourcePack", "Resource")/{id}">{name}</a>
</li>
</script>

<script>
    var mainPageFunctions = new MainPage();
    mainPageFunctions.updateResourcePacks();
    $("#AddResourcePack").click(function () { showAndRedirectModal('@Url.Action("AddResourcePack", "Resource")'); });
    $("#PrevResourcePacks").click(function () { mainPageFunctions.prevResourcePacks(); });
    $("#NextResourcePacks").click(function () { mainPageFunctions.nextResourcePacks(); });
</script>
