﻿@model BusinessLayer.Entities.MandatoryCashOffEntity
@using AFinances.PresentationLayer.Resources.Views;
@{
    ViewBag.Title = Titles.ViewMandatoryCashOff;
    Layout = null;
}
<div id="ViewMandatoryCashOffBase">
    @using (Ajax.BeginForm(new AjaxOptions {
        UpdateTargetId = "ViewMandatoryCashOffBase",
        LoadingElementId = "Loader",
        OnBegin="modalPanelFunctions.toggleForm(true)",
        OnSuccess="modalPanelFunctions.toggleForm(false)" }))
    {  
        @Html.HiddenFor(x => x.Id)
        <div id="Loader" class="loader loader-default inner-loader">
        </div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <label class="append-colon">@Html.LabelFor(model => model.DateAndTime)</label>
                @Model.DateAndTime
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Description)</label>
                @Model.Description
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Place)</label>
                @Model.Place
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.ResourcePackId)</label>
                @Model.ResourcePack.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Summ)</label>
                @Model.Summ@Common.Rubles
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" url="@Url.Action("EditMandatoryCashOff", new { resourceId = Model.Id })">
                        @Common.Edit
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn1 btn-1 btn-1b form-control" id="RemoveMandatoryCashOff">
                        @Common.Remove
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    $("#RemoveMandatoryCashOff").click(function () { toggleDialog(true); });

    function confirmDialog() {
                toggleDialog(false);
                modalPanelFunctions.redirectModal("@Url.Action("RemoveMandatoryCashOff", "MandatoryCashOff", new { id = Model.Id })");
    }
</script>
