﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Account
@using BusinessLayer.Infrastructure
@model BusinessLayer.Entities.CurrentResourcePackEntity
@{
    Layout = null;
    ViewBag.Title = Titles.ChangeCurrentResourcePack;
    var isShowSelectedUserGroup = Model.CurrentUserGroupId != null && Model.CurrentUserGroupId != 0;
}
<div id="ChangeCurrentResourcePackBase">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "ChangeCurrentResourcePackBase",
        LoadingElementId = "ChangeCurrentResourcePackLoader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <div id="ChangeCurrentResourcePackLoader" class="loader loader-default inner-loader">
                </div>
                @Html.ValidationSummary(true)
                <div class="editor-label">
                    @Html.LabelFor(m => m.CurrentUserGroupId)
                </div>
                <div class="editor-field">
                    @Html.TextBox("UserGroupSearch", string.Empty, new { @class = "form-control", placeholder = ChangeCurrentResourcePack.EnterUserGroupName})
                    @Html.ValidationMessageFor(m => m.CurrentUserGroupId)
                    <div class="dropdown-content user-search-results">
                    </div>
                </div>
                <div class="alert alert-success fade in" @if(!isShowSelectedUserGroup){@Html.Raw("style=\"display: none\"")} id="SelectedUserGroupPanel">
                    <a href="@DataLayer.Constants.FakeLinkUrl" class="close" id="DeselectUserGroup" aria-label="close">&times;</a>
                    <span id="UserGroupName">@if(isShowSelectedUserGroup){@Model.UserGroup.Name}</span>
                    @Html.HiddenFor(x => x.CurrentUserGroupId)
                </div>
                <br />
                <div class="editor-label">
                    @Html.LabelFor(m => m.CurrentResourcePackId)
                </div>
                <div class="editor-field">
                    <select class="form-control" name="@CommonHelper.nameof(() => Model.CurrentResourcePackId)">
                    </select>
                    @Html.ValidationMessageFor(m => m.CurrentResourcePackId)
                </div>
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@Common.OK</button>
            </div>
        </div>
    }
    <script>
        try {
            modalPanelFunctions.initializeModal();
        } catch (e) { }

        var currResourcePackFunctions = new ChangeCurrentResourcePack(@Model.CurrentResourcePackId).initialize();
        currResourcePackFunctions.getCurrentResourcePacks();
        timeoutID = null;
        $('#UserGroupSearch').on("keyup", function(e) {
            clearTimeout(timeoutID);
            timeoutID = setTimeout(() => currResourcePackFunctions.findUserGroups(e.target.value, false), 500);
        });
    </script>
</div>
