﻿@model BusinessLayer.Entities.CreateUserEntity
@using AFinances.PresentationLayer.Resources.Views
@{
    ViewBag.Title = Titles.CreateUser;
}
<div id="CreateUserBase">
    @using (Ajax.BeginForm(
    new AjaxOptions
    {
        UpdateTargetId = "CreateUserBase",
        LoadingElementId = "Loader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <div id="Loader" class="loader loader-default inner-loader">
                </div>
                @Html.ValidationSummary(true)
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@Common.OK</button>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
</script>
