﻿@model BusinessLayer.Entities.LogOnEntity
@using AFinances.PresentationLayer.Resources.Views
@{
    ViewBag.Title = Titles.LogOn;
    Layout = "~/Views/Shared/_Layout-minimal.cshtml";
}
<span>@Common.BuildNumber: @DataLayer.Constants.BuildVersion</span>
<div class="container login-container">
    <div class="gradient-panel padded-panel">
        <div class="base-form">
            <img src="@Url.Content("~/AppData/Images/Logo.png")" class="logo-pic" />
        </div>
        <div class="base-form-heading">
            <h4 align="center">@ViewBag.Title</h4>
            @using (Html.BeginForm())
            {
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@Common.Login</button>
            }
        </div>
    </div>
</div>
<br/>
<h2 class="container" align="justify"><b>Регистрация временно закрыта, т.к. проект только запустился и находится на стадии Альфа-тестирования.
    Но она скоро откроется! Заходите позже (примерно в ноябре-декабре).</b></h2>
