﻿@using AFinances.PresentationLayer.Resources.Views
@{
    ViewBag.Title = Titles.ViewCurrentAccount;
}
@model BusinessLayer.Entities.ViewAccountEntity
<div class="base-form">
    <div class="base-form-heading">
        <h3>@ViewBag.Title</h3>
        <label class="append-colon">@Html.LabelFor(model => model.UserName)</label>
        @Model.UserName
        <hr />
        <label class="append-colon">@Html.LabelFor(model => model.CreationDate)</label>
        @DateTime.SpecifyKind(Model.CreationDate, DateTimeKind.Utc).ToLocalTime()
        <hr />
        <label class="append-colon">@Html.LabelFor(model => model.LastLoginDate)</label>
        @DateTime.SpecifyKind(Model.LastLoginDate, DateTimeKind.Utc).ToLocalTime()
        <hr />
    </div>
    <br />
    @using (Ajax.BeginForm("GetUserActions", "Account", new AjaxOptions { UpdateTargetId = "UserActions", LoadingElementId = "ListLoader" }))
    {
        @Html.Hidden("page", 0)
    <div class="base-form-heading">
        <h3>
            <button class="btn btn-default next-prev-btn" id="PrevDate">&lt;</button>
            @Common.LastUserActions
            <button class="btn btn-default next-prev-btn" id="NextDate">&gt;</button>
        </h3>
        <div id="ListLoader" class="loader loader-default inner-loader"></div>
        <ul class="list-group" id="UserActions">
        </ul>
    </div>
    }
</div>