﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Account
@{
    ViewBag.Title = Titles.ViewCurrentAccount;
}
@model BusinessLayer.Entities.ViewAccountEntity
<div class="base-form">
    <div class="base-form-heading">
        <h3>@ViewBag.Title</h3>
        <label class="append-colon">@Html.LabelFor(model => model.UserName)</label>
        @Model.UserName
        <hr />
        <label class="append-colon">@Html.LabelFor(model => model.CreationDate)</label>
        @DateTime.SpecifyKind(Model.CreationDate, DateTimeKind.Utc).ToLocalTime()
        <hr />
        <label class="append-colon">@Html.LabelFor(model => model.LastLoginDate)</label>
        @DateTime.SpecifyKind(Model.LastLoginDate, DateTimeKind.Utc).ToLocalTime()
        <hr />
    </div>
    <br />
    @using (Ajax.BeginForm(
        "GetUserGroups",
        new { controller = "UserGroup" },
        new AjaxOptions {
            UpdateTargetId = "UserGroupsActions",
            LoadingElementId = "UserGroupsLoader",
            OnSuccess = "modalPanelFunctions.bindModalRedirectButtons()"
        },
        new { Id = "UserGroupsForm" }))
    {
        @Html.Hidden("userGroupsPage", 0)
    <div class="base-form-heading">
        <h3>
            <button class="btn btn-default next-prev-btn" id="PrevUserGroups">&lt;</button>
            @ViewCurrentAccount.UserGroups
            <button class="btn btn-default next-prev-btn" id="NextUserGroups">&gt;</button>
        </h3>
        <div id="UserGroupsLoader" class="loader loader-default inner-loader"></div>
        <ul class="list-group" id="UserGroupsActions">
        </ul>
    </div>
    }
    <div class="row">
        <button class="btn1 btn-1 btn-1b float-right margin-sm-right" id="AddUserGroup">@ViewCurrentAccount.AddUserGroupBtn</button>
    </div>
    <br />
    @using (Ajax.BeginForm(
        "GetUserActions",
        "Account",
        new AjaxOptions {
            UpdateTargetId = "UserActions",
            LoadingElementId = "ListLoader"
        },
        new { Id = "ActionsForm" }))
    {
        @Html.Hidden("page", 0)
    <div class="base-form-heading">
        <h3>
            <button class="btn btn-default next-prev-btn" id="PrevDate">&lt;</button>
            @ViewCurrentAccount.LastUserActions
            <button class="btn btn-default next-prev-btn" id="NextDate">&gt;</button>
        </h3>
        <div id="ListLoader" class="loader loader-default inner-loader"></div>
        <ul class="list-group" id="UserActions">
        </ul>
    </div>
    }
    <div class="row">
    <div class="col-md-4"><button class="btn1 btn-1 btn-1b form-control" id="CreateUser">@Common.CreateUser</button></div>
    <div class="col-md-4"><button class="btn1 btn-1 btn-1b form-control" id="ChangePassword">@Common.ChangePassword</button></div>
    <div class="col-md-4"><button class="btn1 btn-1 btn-1b form-control" id="Logout">@Common.Logout</button></div>
    </div>
</div>
<script>
    var currAccountFunctions = new ViewCurrentAccount("@DataLayer.Constants.ModalPanelId").initialize();
</script>