﻿@using BusinessLayer.Entities
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="pageLoader" class="loader loader-default is-active">
    @Html.Partial("Scripts")
    </div>
    <div class="main-content">
        @Html.Partial("Header")
        <div class="container" hidden="true">
            @Html.Partial("RemoveDialog")
            @Html.Partial("ModalPanel",
                new ModalPanelEntity
                {
                    Id = DataLayer.Constants.ModalPanelId,
                    Model = null,
                    PartialBodyViewName = "_BlankModalForm",
                    Title = string.Empty
                })
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        $(".loader").each(function () {
            initializeSpinner(this);
        });

        $(document).ready(function () {
            $(".container>div").hide();
            $(".container").show();
            setDateTimePickerFormat('@DataLayer.Constants.DatePickerDateFormat');
            initializeDateTimePickers();
            $("#pageLoader").removeClass("is-active");
            $(".container>div").fadeIn(500);
        });
    </script>
</body>
</html>
