﻿<div id="MainContent">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "MainContent", LoadingElementId = "Loader" }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <script>
                $('#@DataLayer.Constants.ModalPanelId').modal('hide');
            </script>
            @RenderBody()
        </div>
    }
</div>
