﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
    <br />
    Message: @Model.Exception.Message
    <br />
    Inner Message: @(Model.Exception.InnerException != null ? Model.Exception.InnerException.Message : "(no data)"
    <br />
    Action: @Model.ControllerName + "/" + @Model.ActionName
</h2>
