﻿@using AFinances.PresentationLayer.Resources.Views
@using DataLayer
<div class="header">
        <div class="top-nav">
            <nav class="navbar navbar-fixed-top top-navigation">
                <h3>A Family Server Finances by Batareya16</h3>
				<div class="container">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavBar">
                        @Header.Menu
                    </button>
                    </div>
                    <div class="collapse navbar-collapse" id="mainNavBar">
                        <ul class="nav navbar-nav">
						    <li>
                                <a href="@Url.Action("Index", "Home")"><i class="mdi mdi-home"></i>@Header.Home</a>
                            </li>
						    <li class="dropdown">
                                <a href="@Url.Action("Index", "Budget")" class="dropbtn"><i class="mdi mdi-cash-multiple"></i>@Header.Budget</a>
                                <div class="dropdown-content">
                                  <a href="#">Просмотр бюджета</a>
                                  <a href="#">Просмотр на сегодня</a>
                                  <a href="#">Просмотр на дату</a>
                                  <a href="#">Запланированные платежи</a>
                                </div>
                            </li>
						    <li class="dropdown">
                                <a href="@Url.Action("ViewMoneyTurnover", "Budget")" class="dropbtn"><i class="mdi mdi-chart-line"></i>@Header.MoneyTurnover</a>
                                <div class="dropdown-content">
                                  <a href="#">Просмотр прибыли/убытков</a>
                                  <a href="#">Добавить прибыль</a>
                                  <a href="#">Добавить убыток</a>
                                </div>
                            </li>
						    <li>
                                <a href="@Url.Action("Index", "Search")"><i class="mdi mdi-magnify"></i>@Header.Search</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Module")"><i class="mdi mdi-puzzle"></i>@Header.Modules</a>
                            </li>
                            <li>
                                <a href="@Constants.FakeLinkUrl" name="donateBtn"><i class="mdi mdi-cards-heart"></i>@Header.Donate</a>
                            </li>
						</ul>
                        <div style="float:right">
                        <ul class="nav navbar-nav">
						    <li>
                                <a href="@Url.Action("ViewCurrentAccount", "Account")" class="display-inline"><i class="mdi mdi-account"></i>@Membership.GetUser().UserName</a>
                            </li>
                             <li class="dropdown">
                                <a href="@Constants.FakeLinkUrl" name="selectCurrentResPack" class="display-inline dropbtn">
                                    <i class="mdi mdi-square-inc-cash"></i>
                                    <span name="currentResourcePackName"></span>&nbsp;
                                    (<span name="currentUserGroupName"></span>)
                                </a>
                                <div class="dropdown-content">
                                  <a href="@Constants.FakeLinkUrl" name="selectCurrentResPack">Выбрать текущий ресурспак</a>
                                  <a href="#">Просмотр текущего ресурспака</a>
                                </div>
                            </li>
                            <li>
                                <a class="display-inline" href="@Url.Action("LogOff", "Account")"><i class="mdi mdi-logout"></i>@Header.Logout</a>
                            </li>
                        </ul>
                        </div>
					</div>
			</nav>
    </div>
</div>
<script>
    setupCurrentResourcePack('@Common.EmptyCurrentResourcePack');
    $('[name=selectCurrentResPack]').click(function () {
        modalPanelFunctions.redirectModal('@Url.Action("ChangeCurrentResourcePack", "Account")');
        $("#@DataLayer.Constants.ModalPanelId").modal('show');
    });
    $('[name=donateBtn]').click(function () {
        modalPanelFunctions.redirectModal('@Url.Action("Donate", "Home")');
        $("#@DataLayer.Constants.ModalPanelId").modal('show');
    });
</script>
