﻿@model string[]
@using AFinances.PresentationLayer.Resources.Views
@{
 var header = Model[0];
 var listId = Model[1];
 var submitBtnId = Model[2];
 var havePagination = Model.Count() > 3;
}
<div class="base-form">
    <div class="base-form-heading">
        <div class="align-center panel-header">
            @if (havePagination)
            {
                <button class="btn btn-default display-inline" name="prevPanel">&lt;</button>
            }
            <h3 class="display-inline">@header</h3>
            @if (havePagination)
            {
                <button class="btn btn-default display-inline" name="nextPanel">&gt;</button>
            }
        </div>
        <div class="loader is-active inner-loader">
        </div>
        <ul class="list-group" id="@listId">
        </ul>
    </div>
    @if (!string.IsNullOrEmpty(submitBtnId))
    {
        <button class="btn1 btn-1 btn-1b form-control" id="@submitBtnId">@Common.Add</button>
    }
</div>
