﻿@model KeyValuePair<string, string>
<div id="MainContent">
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "MainContent", LoadingElementId = "Loader" }))
{
<div id="Loader" class="loader loader-default inner-loader"></div>
<div class="base-form">
    <div class="base-form-heading">
        <h3>@Model.Key</h3>
        <p>@Html.Raw(Model.Value)</p>
    </div>
</div>
}
</div>
