﻿@model BusinessLayer.Entities.ModalPanelEntity
<div class="modal fade force-hidden" tabindex="-1" role="dialog" id="@Model.Id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@Model.Title</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @Html.Partial(Model.PartialBodyViewName, Model.Model)
      </div>
    </div>
  </div>
</div>

<script>
    $('#@Model.Id').on('show.bs.modal', function (e) {
        $('#@Model.Id').removeClass('force-hidden');
    });

    var modalPanelFunctions = new ModalPanel();

    function showAndRedirectModal(url) {
        $('#@Model.Id').modal('show');
        modalPanelFunctions.redirectModal(url);
    }
</script>