﻿@using AFinances.PresentationLayer.Resources.Views
<div id="dialog-confirm" title="">
<p>
    <span class="ui-icon ui-icon-alert dialog-margin"></span>
    <span class="dialog-confirm-body"></span>
</p>
</div>

<script>
    function confirmDialog() { }
    function toggleDialog(isOpen, body, title, buttonLbl) {
        var toggleAction = isOpen ? "open" : "close";
        $("#dialog-confirm .dialog-confirm-body").html(body || "@Common.AreYouReallyWantToRemove");
        $("#dialog-confirm").dialog("option", "title", title || "@Common.Remove?");
        $("#dialog-confirm").dialog(toggleAction);
        $("#dialog-confirm").dialog("option", "buttons", getDialogButtons(buttonLbl || "@Common.Remove"));
    }

    $("#dialog-confirm").dialog({
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        autoOpen: false
    });

    function getDialogButtons(mainBtnLbl){
        var buttons = {};
        buttons[mainBtnLbl] = function () { confirmDialog(); };
        buttons["@Common.Cancel"] = function () { toggleDialog(false); };
        return buttons;
    }
</script>