﻿@using System
@using System.Text
@using System.IO
@using System.Web.Hosting

    <!-- Фоновое изображение -->
    <style>
        body
        {
            background: #67b26f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #67b26f, #4ca2cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: url("data:image/svg+xml;base64, @Convert.ToBase64String(Encoding.ASCII.GetBytes(File.ReadAllText(
                HostingEnvironment.MapPath("~/AppData/Images/background.svg"))))") no-repeat fixed 100% 100%; /* Main SVG Background */
            background-size: cover;
        }
    </style>

    <!-- Индикатор загрузки -->
    <script src="/AppData/Libs/spin-js/spin.js" type="text/javascript"></script>
    <script>
    var spinner = new Spinner().spin();
    document.getElementById("pageLoader").appendChild(spinner.el);
    </script>
    <!-- Стили -->
    <link rel="stylesheet" href="/AppData/Build/app.min.css" />
    <!-- Скрипты -->
    <script src="/AppData/Build/app.min.js" type="text/javascript"></script>
