﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>401</title>
</head>
<body>
    <div>
       <img src="~/Images/Cat.svg" width="200" height="200">
    </div>
</body>
</html>
