﻿@using AFinances.PresentationLayer.Resources.Views
@using BusinessLayer.Infrastructure
@model BusinessLayer.Entities.ResourceEntity
<div id="AddResourceBase">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "AddResourceBase",
        LoadingElementId = "Loader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true)
                <div class="editor-label">
                    @Html.LabelFor(model => model.ResourceTypeId)
                </div>
                <div class="editor-field">
                    <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourceTypeId)">
                        @foreach (var item in Model.ResourceTypes)
                        { 
                            <option value="@item.Id" @if (Model.ResourceTypeId == item.Id)
                                                     {@Html.Raw("selected=\"selected\"")}>@item.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ResourceTypeId)
                </div>
                <br />
                <button type="button" class="btn1 btn-1 btn-1b float-right" id="EditResourceTypes">@Common.EditResourceTypes</button>
                <br />
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <br />
                @if (!ViewBag.IsEditResource && Model.ResourcePackId == 0)
                {
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ResourcePackId)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="@CommonHelper.nameof(() => Model.ResourcePackId)">
                            @foreach (var item in Model.ResourcePacks)
                            { 
                                <option value="@item.Id" @if (Model.ResourcePackId == item.Id)
                                                         {@Html.Raw("selected=\"selected\"")}>@item.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ResourcePackId)
                    </div>
                }
                else
                {
                    <div class="editor-label">
                        <span class="append-colon">@Html.LabelFor(model => model.ResourcePackId)</span>
                        @Html.DisplayFor(model => model.ResourcePack.Name)
                    </div>
                    @Html.HiddenFor(x => x.ResourcePackId)
                }
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@ViewBag.AcceptBtnName</button>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    $("#EditResourceTypes").click(function () { showAndRedirectModal("@Url.Action("ViewResourceTypes")/" + $("#ResourcePackId").val() || getCurrentUserGroupId()); });
</script>