﻿@using AFinances.PresentationLayer.Resources.Views.Resource
@using DataLayer
@model BusinessLayer.Entities.ResourcePackEntity
<div id="AddEditResourcePackBase">
    @using (Ajax.BeginForm(
        null,
        null,
        null,
        new AjaxOptions
        {
            UpdateTargetId = "AddEditResourcePackBase",
            LoadingElementId = "Loader",
            OnBegin = "modalPanelFunctions.toggleForm(true)",
            OnSuccess = "modalPanelFunctions.toggleForm(false)"
        },
        new { autocomplete = "off" }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <input autocomplete="false" type="text" style="display:none" />
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true)
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Limit)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Limit, new { @class = "form-control element-counter", value = "50" })
                    @Html.ValidationMessageFor(model => model.Limit)
                </div>
                @if (!ViewBag.IsEditResourcePack)
                {
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserGroupId)
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("UserGroupSearch", string.Empty, new { @class = "form-control", placeholder = AddEditResourcePack.EnterUserGroupName })
                        @Html.ValidationMessageFor(model => model.UserGroupId)
                        <div class="dropdown-content user-search-results">
                        </div>
                    </div>
                    <br />
                    <div class="alert alert-success fade in" @if (Model.UserGroupId == 0)
                                                             {@Html.Raw("style=\"display: none\"")} id="SelectedUserGroupPanel">
                        <a href="@Constants.FakeLinkUrl" class="close" id="DeselectUserGroup" aria-label="close">&times;</a>
                        <span id="UserGroupName">@if (Model.UserGroupId != 0)
                                                 {@Model.UserGroup.Name}</span>
                        @Html.HiddenFor(x => x.UserGroupId)
                        @Html.HiddenFor(x => x.UserGroup.Name)
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.UserGroupId)
                }
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@ViewBag.AcceptBtnName</button>
            </div>
        </div>
    }
</div>
<script>
    $(".element-counter").TouchSpin({
        min: 0,
        max: 1000000,
        boostat: 10,
        maxboostedstep: 30
    });
    modalPanelFunctions.initializeModal();
    var timeoutID = null;
    var resourcePackFunctions = new AddEditResourcePack().initialize();
</script>

@if (!ViewBag.IsEditResourcePack)
{
    <script>
        $('#UserGroupSearch').on("keyup", function(e) {
            clearTimeout(timeoutID);
            timeoutID = setTimeout(() => resourcePackFunctions.findUserGroups(e.target.value, true), 500);
        });

        $("#AddEditResourcePackBase form").submit(function(){
            $('[name="UserGroup.Name"]').val($("#UserGroupName").text());
        });
    </script>
}