﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Resource
@using DataLayer
@model BusinessLayer.Entities.ResourcePackEntity
<div id="ResourcePackInfoLoader" class="loader loader-default inner-loader"></div>
<div id="Base">
@using (Ajax.BeginForm(
    null,
    null,
    new AjaxOptions
        {
            UpdateTargetId = "Base",
            LoadingElementId = "ResourcePackInfoLoader",
            Url = Url.Action("GetResourcePackInfo")
        },
    new { id = "ResourcePackForm" }))
{  
    @Html.HiddenFor(x => x.Id)
    <div class="col-md-6">
        <label class="append-colon">@Html.LabelFor(x => x.Name)</label> @Html.DisplayFor(x => x.Name)
        <br />
        <label class="append-colon">@Html.LabelFor(x => x.Limit)</label> @Html.DisplayFor(x => x.Limit)@Common.Rubles
        @if (Model.UserGroup != null)
        {
            <br />
            <label class="append-colon">@Html.LabelFor(x => x.UserGroupId)</label>
            <a href="@Constants.FakeLinkUrl" class="modal-redirect" url="@Url.Action("ViewUserGroup", "UserGroup")/@Model.UserGroupId">
                @Html.DisplayFor(x => x.UserGroup.Name) (@ViewResourcePack.Owner:&nbsp;@Model.UserGroup.OwnerUsername)
            </a>
        }
    </div>
}
</div>
