﻿@model BusinessLayer.Entities.ResourceEntity
@using AFinances.PresentationLayer.Resources.Views;
@using AFinances.PresentationLayer.Infrastructure
@{
    ViewBag.Title = Titles.ViewResource;
    Layout = null;
}
<div id="ViewResourceBase">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "ViewResourceBase",
        LoadingElementId = "Loader",
        OnBegin = "modalPanelFunctions.toggleForm(true)",
        OnSuccess = "modalPanelFunctions.toggleForm(false)"
    }))
    {  
        @Html.HiddenFor(x => x.Id)
        <div id="Loader" class="loader loader-default inner-loader">
        </div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <label class="append-colon">@Html.LabelFor(model => model.ResourceTypeId)</label>
                @Model.ResourceType.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Name)</label>
                @Model.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.ResourcePackId)</label>
                @Model.ResourcePack.Name
            </div>
            @try
            {
                AuthorizeHelper.AuthorizeResourcePackByResource(Model);
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" url="@Url.Action("EditResource", new { resourceId = Model.Id })" id="ChangeResource">
                            @Common.Edit
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn1 btn-1 btn-1b form-control" id="RemoveResource">
                            @Common.Remove
                        </button>
                    </div>
                </div>
            }
            catch { }
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    $("#RemoveResource").click(function () { toggleDialog(true); });

    function confirmDialog() {
                toggleDialog(false);
                modalPanelFunctions.redirectModal("@Url.Action("RemoveResource", "Resource", new { id = Model.Id })");
    }
</script>
