﻿@using BusinessLayer.Entities
@using AFinances.PresentationLayer.Resources.Views;
@using DataLayer;
@model IEnumerable<ResourceTypeEntity>
@{
    ViewBag.Title = Titles.EditResourceTypes;
    Layout = null;
}
<div id="ViewResourceTypes">
    @using (Ajax.BeginForm(new AjaxOptions {
        UpdateTargetId = "ViewResourceTypes",
        LoadingElementId = "Loader",
        OnBegin="modalPanelFunctions.toggleForm(true)",
        OnSuccess="modalPanelFunctions.toggleForm(false)" }))
    {  
        <div id="Loader" class="loader loader-default inner-loader">
        </div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <input class="form-control" data-val=true type="text" id="NewResourcePackName" required maxlength="@Constants.NameMaxLength" placeholder="Добавить тип ресурса">
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn1 btn-1 btn-1b form-control" id="AddResourceType">@Common.Add</button>
                    </div>
                </div>
                <br />
                <table class="table">
                    <colgroup>
                        <col width="90%"/>
                        <col width="10%"/>
                    </colgroup>
                    @foreach (var resourceType in Model)
                    {
                        <tr>
                            <td>
                                @resourceType.Name
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger remove-resourcetype" itemid="@resourceType.Id">
                                    <i class="mdi mdi-delete"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<script>
    modalPanelFunctions.initializeModal();
    var currentItemId = 0;

    $(".remove-resourcetype").click(function (event) {
        currentItemId = $(event.target).closest('button').attr("itemid");
        toggleDialog(true);
    });

    function confirmDialog() {
                toggleDialog(false);
                modalPanelFunctions.redirectModal("@Url.Action("RemoveResourceType", "Resource")?resourceTypeId=" + currentItemId);
    }

    $("#AddResourceType").click(function() { modalPanelFunctions.redirectModal("@Url.Action("AddResourceType", "Resource", new {userGroupId = ViewContext.RouteData.Values["id"]})&name=" + $("#NewResourcePackName").val()); });
</script>
