﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.Resource
@using BusinessLayer.Entities
@model long
@{
    ViewBag.Title = Titles.ViewResourcePack;
    var ModalPanelSelector = "#" + DataLayer.Constants.ModalPanelId;
    try {
        AFinances.PresentationLayer.Infrastructure.AuthorizeHelper.AuthorizeResourcePack(Model);
        ViewBag.IsPermittedToEditResourcePack = true;
    }
    catch {
        ViewBag.IsPermittedToEditResourcePack = false;
    }
}

<div class="base-form">
    <div class="base-form-heading">
        <h3>@ViewBag.Title</h3>
        <br />
        <div class="row cols-container">
            @Html.Partial("ViewResourcePack_ResourcePack", new ResourcePackEntity() { Id = Model })
            <div class="col-md-6">
                <button type="button" class="btn1 btn-1 btn-1b float-right" data-jq-dropdown="#ResourcePacksActionsMenu">@ViewResourcePack.ActionWithResourcePack</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row cols-container">
    <div class="col-md-4">
        @Html.Partial("ListPanel", new[] {
            ViewResourcePack.Resources,
            "Resources",
            ViewBag.IsPermittedToEditResourcePack ? "AddResource" : string.Empty
        })
    </div>
    <div class="col-md-4">
        @Html.Partial("ListPanel", new[] {
            ViewResourcePack.MandatoryCashOffs,
            "MandatoryCashOffs",
            "AddMandatoryCashOff",
            true.ToString()
        })
    </div>
    <div class="col-md-4">
        @Html.Partial("ListPanel", new[] {
            ViewResourcePack.Credits,
            "Credits",
            "AddCredit",
            true.ToString()
        })
    </div>
</div>
<div id="ResourcePacksActionsMenu" class="jq-dropdown jq-dropdown-tip behind-screen">
    <ul class="jq-dropdown-menu">
        <li><a id="AddResourcePack">@ViewResourcePack.AddNewResourcePack</a></li>
        @if (ViewBag.IsPermittedToEditResourcePack)
        {
            @Html.Raw("<li><a id='EditResourcePack'>" + ViewResourcePack.ChangeInformationAboutResourcepack + "</a></li>");
            @Html.Raw("<li><a id='RemoveResourcePack'>" + ViewResourcePack.RemoveResourcePack + "</a></li>");
        }
    </ul>
</div>
<script>
    $('#ResourcePackForm').submit();
    viewResourcePackFunctions = new ViewResourcePack(@Model, "@Common.Rubles");
    viewResourcePackFunctions.reloadAllPanels();

    $("@ModalPanelSelector").on('hidden.bs.modal', function () {
        $('#ResourcePackForm').submit();
        viewResourcePackFunctions.reloadAllPanels();
        initializeConfirmDialogFunc();
    });
    $("#AddResource").click(function() { showAndRedirectModal('@Url.Action("AddResource", new { resourcePackId = Model })'); });
    $("#AddResourcePack").click(function() { showAndRedirectModal('@Url.Action("AddResourcePack")'); });
    $("#EditResourcePack").click(function() { showAndRedirectModal('@Url.Action("EditResourcePack", new { resourcePackId = Model })'); });
    $("#AddCredit").click(function() { showAndRedirectModal('@Url.Action("AddCredit", "Credit", new { resourcePackId = Model })'); });
    $("#AddMandatoryCashOff").click(function() { showAndRedirectModal('@Url.Action("AddMandatoryCashOff", "MandatoryCashOff", new { resourcePackId = Model })'); });
    $('#MandatoryCashOffs').siblings('.panel-header').find('[name=prevPanel]').click(function() {
        viewResourcePackFunctions.pages.mandatoryCashOffs = positive(viewResourcePackFunctions.pages.mandatoryCashOffs - 1);
        viewResourcePackFunctions.getMandatoryCashOffs();
    });
    $('#MandatoryCashOffs').siblings('.panel-header').find('[name=nextPanel]').click(function() {
        viewResourcePackFunctions.pages.mandatoryCashOffs++;
        viewResourcePackFunctions.getMandatoryCashOffs();
    });
    $('#Credits').siblings('.panel-header').find('[name=prevPanel]').click(function() {
        viewResourcePackFunctions.pages.credits = positive(viewResourcePackFunctions.pages.credits - 1);
        viewResourcePackFunctions.getCredits();
    });
    $('#Credits').siblings('.panel-header').find('[name=nextPanel]').click(function() {
        viewResourcePackFunctions.pages.credits++;
        viewResourcePackFunctions.getCredits();
    });

    function initializeConfirmDialogFunc () {
        window.confirmDialog = function () {
                    toggleDialog(false);
                    $("@ModalPanelSelector").modal('show');
                    modalPanelFunctions.redirectModal("@Url.Action("RemoveResourcePack", "Resource", new { id = Model })");
        }
    }

    $("#RemoveResourcePack").click(function () { toggleDialog(true); });
    initializeConfirmDialogFunc();
</script>
