﻿@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.UserGroup
@using BusinessLayer.Infrastructure
@using BusinessLayer.Entities.User
@using DataLayer
@model UserGroupEntity
<div id="AddEditUserGroupBase">
    @using (Ajax.BeginForm(
        null,
        null,
        null,
        new AjaxOptions
        {
            UpdateTargetId = "AddEditUserGroupBase",
            LoadingElementId = "Loader",
            OnBegin = "modalPanelFunctions.toggleForm(true)",
            OnSuccess = "modalPanelFunctions.toggleForm(false)"
        },
        new { autocomplete = "off" }))
    {
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <input autocomplete="false" type="text" style="display:none" />
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UsersJson)
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <br />
                <div class="editor-field">
                    <label>
                    @Html.LabelFor(model => model.Private)
                    <input type="checkbox" data-toggle="toggle" name="@CommonHelper.nameof(() => Model.Private)" />
                    @Html.ValidationMessageFor(model => model.Private)
                    </label>
                </div>
                <br />
                <div class="editor-label">
                    @Html.Label(@AddManageUserGroup.AddUsers)
                </div>
                <div class="editor-field">
                    @Html.TextBox("UserSearch", string.Empty, new { @class = "form-control", placeholder = AddManageUserGroup.EnterUserName})
                        <div class="dropdown-content user-search-results">
                        </div>
                </div>
                @Html.ValidationMessageFor(model => model.Users)
                <table class="table" id="seletedUsersTable">
                    <colgroup>
                        <col width="90%"/>
                        <col width="10%"/>
                    </colgroup>
                    <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td class="selected-user">
                                @user.UserName
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger remove-found-user">
                                    <i class="mdi mdi-delete"></i>
                                </button>
                            </td>
                        </tr> 
                    }
                    </tbody>
                </table>
                <br />
                <button type="submit" class="btn1 btn-1 btn-1b form-control">@ViewBag.AcceptBtnName</button>
            </div>
        </div>
        <script type="text/basis-template" id="selected-user-template">
            <tr>
                <td class="selected-user">
                    {username}
                </td>
                <td>
                    <button type="button" class="btn btn-danger remove-found-user">
                        <i class="mdi mdi-delete"></i>
                    </button>
                </td>
            </tr>
        </script>
        <script>
            modalPanelFunctions.initializeModal();
            var timeoutID = null;
            var userGroupFunctions = new ManageUserGroup("@Url.Action("SearchUsersFuzzy", "Data")");
            userGroupFunctions.bindRemoveUserButton(userGroupFunctions);

            $('#UserSearch').on("keyup", function(e) {
                clearTimeout(timeoutID);
                timeoutID = setTimeout(() => userGroupFunctions.findUsers(e.target.value, true), 500);
            });

            var $privateToggle = $('[name=@CommonHelper.nameof(() => Model.Private)]');
            $privateToggle.bootstrapToggle({
                on: '@Common.Yes',
                off: '@Common.No'
            });
            $privateToggle.prop('checked', getBool("@Model.Private")).change();

            $('#AddEditUserGroupBase form').submit(function () {
                if ($('#AddEditUserGroupBase form').valid()) {
                    userGroupFunctions.applySelectedUsers();
                    fixToggleValue($privateToggle);
                    $('#AddEditUserGroupBase form').validate().cancelSubmit = true;
                }
            });
        </script>
    }
</div>

