﻿@using BusinessLayer.Entities.User
@using DataLayer
@model IEnumerable<UserGroupEntity>
@foreach (var item in Model)
{
    <li class='list-group-item'>
        <p>
            <a href="@Constants.FakeLinkUrl" class="modal-redirect" url="@Url.Action("ViewUserGroup","UserGroup")/@item.Id">
                <b>@item.Name</b>&nbsp;(@item.OwnerUsername)
            </a>
        </p>
    </li>
}