﻿@using AFinances.PresentationLayer.Infrastructure
@using AFinances.PresentationLayer.Resources.Views
@using AFinances.PresentationLayer.Resources.Views.UserGroup
@using BusinessLayer.Infrastructure
@using BusinessLayer.Entities
@using DataLayer
@{
    ViewBag.Title = Titles.ViewUserGroup;
    Layout = null;
}
@model BusinessLayer.Entities.User.UserGroupEntity

<div id="ViewUserGroup">
    @using (Ajax.BeginForm(
        null,
        null,
        null,
        new AjaxOptions
        {
            UpdateTargetId = "ViewUserGroup",
            LoadingElementId = "Loader",
            OnBegin = "modalPanelFunctions.toggleForm(true)",
            OnSuccess = "modalPanelFunctions.toggleForm(false)"
        },
        new { autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.Id)
        <div id="Loader" class="loader loader-default inner-loader"></div>
        <div class="base-form">
            <div class="base-form-heading">
                <h3>@ViewBag.Title</h3>
                <label class="append-colon">@Html.LabelFor(model => model.Name)</label>
                @Model.Name
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.OwnerUsername)</label>
                @Model.OwnerUsername
                <hr />
                <label class="append-colon">@Html.LabelFor(x => x.Private)</label>
                @(Model.Private ? Common.Yes : Common.No)
                <hr />
                <div class="editor-label">
                    @Html.Label(ViewUserGroup.GroupUsers)
                </div>
                <ul class="list-group modal-panel-list">
                    @foreach (var item in Model.Users)
                    {
		                <li class="list-group-item">@item.UserName</li>
                    }
                </ul>
                <br />
                <div class="editor-label">
                    @Html.Label(ViewUserGroup.GroupResourcePacks)
                </div>
                <ul class="list-group modal-panel-list">
                    @foreach (var item in Model.ResourcePacks)
                    {
		                <li class="list-group-item">@item.Name</li>
                    }
                </ul>
                <br />
                <div class="row">
                @try{
                    AuthorizeHelper.AuthorizeResourcePack(new ResourcePackEntity() { UserGroup = Model, UserGroupId = Model.Id });
                    <div class="col-xs-4">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" url="@Url.Action("AddResourcePack", "Resource", new { userGroupId = Model.Id })">@Titles.AddResourcePack</button>
                    </div>
                }
                catch{}
                        
                @if (Membership.GetUser().UserName == Model.OwnerUsername)
                {
                    <div class="col-xs-4">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" url="@Url.Action("EditUserGroup", new { id = Model.Id })">@Common.Edit</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn1 btn-1 btn-1b form-control modal-redirect" id="RemoveUserGroup">@Common.Remove</button>
                    </div>
                }
                </div>
            </div>
        </div>
        <script>
            modalPanelFunctions.initializeModal();
            
            $("#RemoveUserGroup").click(function () { toggleDialog(true); });
            function confirmDialog() {
                toggleDialog(false);
                modalPanelFunctions.redirectModal("@Url.Action("RemoveUserGroup", "UserGroup", new { id = Model.Id })");
            }
        </script>
    }
</div>

